.artwork-1 {
    margin-bottom: 60px;
}

.container-artwork-1 {
    width: 930px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.artwork__inner-1 {
}

.artwork__img-wrap-1 {
    display: block;
    overflow: hidden;
    border-radius: 12px;
}

.artwork__img-1 {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease 0s;
}

.artwork__img-1:hover {
    transform: scale(1.1);
}

.artwork__author-1 {
}

.artwork__author-1 {
    /* transform-origin: center; */
    color: #C7C7C7;
    /* font-family: Aeonik; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.artworks-header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.artworks-header__amount-1 {
    color: #FFF;
    /* font-family: Clash Display; */
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.54; /* 153.846% */
}

.artwork-1 .classify-1 {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .artwork-1 {
        margin-bottom: 52px;
    }
    
    .artwork__inner-1 {
        display: grid;
        grid-template-columns: 6fr 4fr;
        column-gap: 130px;
    }
    
    .artwork__img-wrap-1 {
        display: block;
    
    }
    
    .artwork__img-1 {
        width: 100%;
    }
    
    .artwork__author-1  {
        margin: 14px 0 43px;
        display: block;
        color: #C7C7C7;
        /* font-family: Aeonik; */
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
    }
    
    
    .artworks-header__amount-1 {
        color: #FFF;
        /* font-family: Clash Display; */
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1; /* 100% */
    }

}