
@media only screen and (min-width: 700px) {
    .nft-products-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        align-items: center;
        justify-items: center;
        /* margin: 0 0; */
    }
}