# Ignore .idea folder and its contents
.idea/

# Ignore specific files within .idea folder
.idea/workspace.xml
.idea/tasks.xml

# Ignore test_syntax.py in the specified directory
NFTapp/scripts/test_syntax.py