
.artist {
    margin-bottom: 140px;
}

.artist__heading {
    color: #FFF;
    /* font-family: Clash Display; */
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.artist__rank {
    margin-top: 35px;
    border-collapse: separate;
    /* border-spacing: 10px 0; */
    border-spacing: 0 10px;
    width: 100%;    
    /* border-spacing: 15px; */
}

.artist thead {
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #333;;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.765; /* 176.471% */
}

.artist tbody {
    margin-top: 15px;
}

.artist tbody tr {
    background: #191919;
    height: 76px;
}

.artist tbody td:first-child {
}

.artist tbody td {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    /* font-family: Clash Display; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 77.778% */
    gap: 10px;
}

.artist tbody a {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    /* font-family: Clash Display; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 77.778% */
}


.artist tbody a:hover {
    color:#17E3A6;
}

.artist__name {
    text-align: start;
}

.artist-avt  {
    height: 34px;
    width: 34px;
}

.more__artists {
    /* padding: 14px 0; */
    display: block;
    width: 100%;
    height: 47px;
    border-radius: 23.5px;
    border: 1px solid #FFF;
    margin-top: 60px;
    text-align: center;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.more__artists:hover {
    background-color: #17E3A6;
    border-color: #17E3A6;
    color: #000;
}

@media only screen and (min-width: 768px) {
    .artist {

    }

    .container-table {
    }

    .artist__heading {
        color: #FFF;
        /* font-family: Clash Display; */
        font-size: 5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.12; /* 112% */
    }

    .artist__rank {
        margin-top: 60px;
    }

    .artist thead {

    }

    .more__artists {
        /* padding: 14px 0; */
        display: block;
        width: 200px;
        height: 47px;
        border-radius: 23.5px;
        border: 1px solid #FFF;
        margin-top: 60px;
        text-align: center;
        color: #FFF;
        /* font-family: Aeonik; */
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1; /* 100% */
    }

    .more__artists {
        margin: 64px auto 0 auto;
    }
}