{% extends 'main.html' %}
{% block content %}
<div class="artist">
    <div class="container container-artist">
        <h1 class="artist__heading">Trending creators</h1>
        {% include 'NFTapp/explore/classify/artists_classify.html' %}
        <table class="artist__rank">
            <thead >
                <tr>
                    <th>Rank</th>
                    <th></th>
                    <th>Name</th>
                    <th>Follower</th>
                    <th>Unique Collectors</th>
                    <th>Created</th>
                    <th>NFTs Sold</th>
                    <th>Property</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="artist__info">
                    <td>#{{forloop.counter}}</td>
                    <td>
                      <a href="{% url 'profile' user.id %}" class="avatar-wrap">
                        <img src="{{user.avatar}}" alt=""class="avatar"> 
                      </a>
                    </td>
                    <td class="artist__name">
                      <a href="{% url 'profile' user.id %}">{{user.name}}</a>
                    </td>
                    <td>{{user.follower_set.all|length}}</td>
                    <td>{{user.owners.all|length}}</td>
                    <td>{{user.author.all|length}}</td>
                    <td>{{user.sold}}</td>
                    <td>{{user.property}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <button href="" id="view-all-creators" class="more__artists">More Creators</button>
    </div>
</div>
{% include 'NFTapp/subscribe/subscribe2.html' %}
{% endblock content %}

{% block scripts %}
<script>
  const viewAllCreators = document.getElementById('view-all-creators');
    const commentListItems = document.querySelectorAll('.artist__info');

    let isViewingAll = false;

    function showFirstSixComments() {
        for (let i = 0; i < commentListItems.length; i++) {
            if (i < 15) {
                commentListItems[i].style.display = 'table-row';
            } else {
                commentListItems[i].style.display = 'none';
            }
        }
    }

    viewAllCreators.addEventListener('click', function () {
        if (isViewingAll) {
            isViewingAll = false;
            viewAllCreators.textContent = 'More Creators';
            viewAllCreators.parentElement.style.bottom = '0';
            showFirstSixComments();
        } else {
            isViewingAll = true;
            viewAllCreators.textContent = 'Back';
            viewAllCreators.parentElement.style.bottom = window.innerWidth >= 768 ? '-90px' : '-70px';
            commentListItems.forEach(item => {
                item.style.display = 'table-row';
            });
        }
    });

    showFirstSixComments();
</script>
{% endblock scripts %}
