{% extends 'main.html' %}
{% block content %}
<div class="editorial">
    <div class="container container-editorial">
        <h1 class="editorial__heading">Inside Editorial</h1>
        <table class="editorial__rank">
                <tr>
                    <th>ALL</th>
                    <th>DIGITAL FASHION</th>
                    <th>DIGITAL ART</th>
                    <th>PHYGITAL</th>
                    <th>DIGITAL INTERIORS</th>
                    <th>COLLECTIONS</th>
                    <th>CULTURE</th>
                </tr>
        </table>
    {% include 'NFTapp/explore/nftproduct/nftproduct1.html' with number_products=20 %}                                       
    </div>
</div>

<div class="gap-between-section"></div>
{% include 'NFTapp/subscribe/subscribe1.html' with img_src='/static/images/explore/collection/nft_image12.svg' %}
{% endblock content %}