
@media only screen and (min-width: 768px) {
    .about__section-2 {
        position: relative;
    }

    .about__mission-2 {
        position: relative;
    }
    
    .about__img-2 {
        display: block;
        transform: rotate(7deg);
        position: relative;
    }
    
    .about__mission-2::before {
        content: '';
        background: url('/static/images/vector/vector2.svg'), none 50% / cover no-repeat;
        position: absolute;
        width: 73px;
        height: 128px;
        right: -28%;
        bottom: 20%;
        z-index: 2;
    }
    
    .about__mission-2:after {
        content: '';
        background: url('/static/images/vector/vector1.svg'), none 50% / cover no-repeat;
        position: absolute;
        width: 82px;
        height: 84px;
        top: -5%;
        right: -100%;
        z-index: 2;
    }

    .about__section-2::after {
        content: '';
        background: url('/static/images/vector/vector7.svg'), none 50% / cover no-repeat;
        position: absolute;
        width: 57px;
        height: 56px;
        right: -1%;
        bottom: -3%;
        z-index: 2;
    }
    
}
