{% load my_custom_tags %}
<div class="comment">
    <div class="container">
        <div class="comment__inner scroll">
            <form method="POST" class="comment__write flex_aic_jcc">
                {% csrf_token %}
                <input type="hidden" name="action" value="comment" style="display: none;">
                <input type="text" placeholder="Write your comment here ..." name="content">
            </form>
            {% for comment in comments %}
            <div class="comment__section flex_fdc_aif">
                <div class="comment__from">
                    <a href="{% url 'profile' comment.user.id %}" class="comment__user">
                        <img src="{{user.avatar}}" alt="" class="comment__user-avt">@{{comment.user.name}}
                    </a>
                    <p class="comment__time">{{comment.added_at|facebook_time}}</p>
                    <div class="comment__edit">
                        <button class="comment__modify">Edit</button>
                        <button class="comment__delete">Delete</button>
                    </div>
                </div>
                <p class="comment__content">{{comment.content}}</p>
                <div class="comment__vote">
                    <div href="" class="comment__vote--wrap">
                        <svg class="comment__upvote" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                              <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                          </svg>
                          <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <svg class="comment__upvote-fill" fill="#fff" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z"/>
                        </svg>
                         <span class="comment__vote-text">
                             {{comment.votes.all|length}}
                         </span>
                        <svg class="comment__downvote" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                            <g transform="rotate(180 12 12)">
                              <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                            </g>
                          </svg>
                          <svg class="comment__downvote-fill" fill="#fff" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <g transform="rotate(180 12 12)">
                            <path d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    const commentSection = document.querySelectorAll('.comment__section');
    commentSection.forEach(element => {
        const commentUpvote = element.querySelector('.comment__upvote');
        const commentUpvoteFill = element.querySelector('.comment__upvote-fill');
        const commentDownvote = element.querySelector('.comment__downvote');
        const commentDownvoteFill = element.querySelector('.comment__downvote-fill');
        
        commentUpvote.onclick = (e) => {
            commentUpvote.classList.remove('comment-vote-show-inline');
            commentUpvoteFill.classList.remove('comment-vote-hide');
            commentUpvote.classList.add('comment-vote-hide');
            commentUpvoteFill.classList.add('comment-vote-show-inline');
            if(commentDownvoteFill.classList.contains('comment-vote-show-inline')) {
                commentDownvoteFill.classList.remove('comment-vote-show-inline');
                commentDownvote.classList.add('comment-vote-show-inline');
            }   
        }
    
        commentUpvoteFill.onclick = (e) => {
            commentUpvote.classList.remove('comment-vote-hide');
            commentUpvoteFill.classList.remove('comment-vote-show-inline');
            commentUpvoteFill.classList.add('comment-vote-hide');
            commentUpvote.classList.add('comment-vote-show-inline');
        }
        
        commentDownvote.onclick = (e) => {
            commentDownvote.classList.remove('comment-vote-show-inline');
            commentDownvoteFill.classList.remove('comment-vote-hide');
            commentDownvote.classList.add('comment-vote-hide');
            commentDownvoteFill.classList.add('comment-vote-show-inline');
            if(commentUpvoteFill.classList.contains('comment-vote-show-inline')) {
                commentUpvoteFill.classList.remove('comment-vote-show-inline');
                commentUpvote.classList.add('comment-vote-show-inline');
            }
        }
    
        commentDownvoteFill.onclick = (e) => {
            commentDownvote.classList.remove('comment-vote-hide');
            commentDownvoteFill.classList.remove('comment-vote-show-inline');
            commentDownvoteFill.classList.add('comment-vote-hide');
            commentDownvote.classList.add('comment-vote-show-inline');
        }
    });
</script>