{% load my_custom_tags %}
<div class="comment">
    <div class="container">
        <div class="comment__inner scroll">
            <form method="POST" class="comment__write flex_aic_jcc">
                {% csrf_token %}
                <input type="hidden" name="action" value="comment" style="display: none;">
                <input type="text" placeholder="Write your comment here ..." name="content">
            </form>
            {% for comment in comments %}
            <div class="comment__section flex_fdc_aif">
                <div class="comment__from">
                    <a href="{% url 'profile' comment.user.id %}" class="comment__user">
                        <img src="{{user.avatar}}" alt="" class="comment__user-avt">@{{comment.user.name}}
                    </a>
                    <p class="comment__time">{{comment.added_at|facebook_time}}</p>
                    <div class="comment__edit">
                        <button class="comment__modify">Edit</button>
                        <button class="comment__delete">Delete</button>
                    </div>
                </div>
                <p class="comment__content">{{comment.content}}</p>
                <div class="comment__vote">
                    <div href="" class="comment__vote--wrap">
                        <form method="POST" action="" class="{{request.user}} {{request.user.id}} {{comment.id}} comment__upvote-form">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="upvote">
                            <button type="submit" class="comment__upvote">
                                {% if request.user not in comment.votes.all %}
                                <svg class="comment__upvote" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                                      <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                                  </svg>
                                  {% else %}
                                  <svg class="comment__upvote-fill" fill="#17E3A6" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z" fill="#17E3A6"/>
                                    </svg>
                                {% endif %}
                            </button>
                        </form>

                         <span class="comment__behavior-text comment__upvote-number {{comment.id}}">
                             {{comment.votes.all|length}}
                         </span>

                         <div class="comment__vote-list" style="display: none;">
                             {% include 'NFTapp/user_behavior.html' with user_behavior_list=comment.product_comment_voted_by.all filter="user" behavior_of_user="Upvoted by" behavior_of_user_for_ajax="voted" %}
                         </div>
                         
                         <form method="POST" action="" class="{{request.user}} {{request.user.id}} {{comment.id}} comment__downvote-form">
                             {% csrf_token %}
                             <input type="hidden" name="action" value="downvote">
                             <button type="submit" class="comment__downvote">
                                {% if request.user not in comment.disvotes.all %}
                                <svg class="comment__downvote" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                                    <g transform="rotate(180 12 12)">
                                    <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                                    </g>
                                </svg>
                                {% else %}
                                <svg class="comment__downvote-fill" fill="#17E3A6" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <g transform="rotate(180 12 12)">
                                    <path d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z" fill="#17E3A6"/>
                                    </g>
                                </svg>
                                {% endif %}
                            </button>
                        </form>

                        <span class="comment__behavior-text comment__downvote-number {{comment.id}}">
                            {{comment.disvotes.all|length}}
                        </span>

                        <div class="comment__disvote-list" style="display: none;">
                            {% include 'NFTapp/user_behavior.html' with user_behavior_list=comment.product_comment_disvoted_by.all filter="user" behavior_of_user="Downvoted by" behavior_of_user_for_ajax="disvoted"%}
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
    const commentSection = document.querySelectorAll('.comment__section');
    commentSection.forEach(element => {
        const userId = '{{request.user.id|escapejs}}';
        const userName = '{{request.user.name|escapejs}}';

        const commentUpvoteForm = element.querySelector('.comment__upvote-form');
        const commentDownvoteForm = element.querySelector('.comment__downvote-form');

        const commentUpvote = commentUpvoteForm.querySelector('.comment__upvote');
        const commentUpvoteNumber_x = commentUpvoteForm.parentNode.querySelector('.comment__upvote-number'); 
        const commentUpvoteList = commentUpvoteForm.parentNode.querySelector('.voted.user-behavior__list');
        
        const commentDownvote = commentDownvoteForm.querySelector('.comment__downvote');
        const commentDownvoteNumber_x = commentDownvoteForm.parentNode.querySelector('.comment__downvote-number'); 
        const commentDownvoteList = commentDownvoteForm.parentNode.querySelector('.disvoted.user-behavior__list');
        commentUpvoteForm.onsubmit = (e) => {
            // console.log(commentDownvoteList.querySelector(`.user-behavior__item.${userName}`))
            e.preventDefault();
            $.ajax({
                type: "POST",
                // url: '',
                data: {
                    'action': 'upvote',
                    'comment_id': commentUpvoteForm.classList[3],
                    'csrfmiddlewaretoken': commentUpvoteForm.children[0].value, 
                },
                success: function(response) {
                    const userVote = JSON.parse(response['user_upvote'])[0];
                    const userVoteId = userVote.pk;
                    const userVoteField = userVote.fields
                    commentUpvoteNumber_x.textContent = `${response['number_upvotes']}`;
                    if(response['state'] == 'activate_upvote') {
                        commentUpvote.innerHTML = `
                            <svg fill="#17E3A6" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z" fill="#17E3A6"/>
                            </svg>`;
                        let new_user_vote = `
                            <li class="user-behavior__item ${userName} flex_aic_jcc">
                            <div class="user-behavior__info">
                                <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userVoteId}/" class="avatar-wrap user-behavior-person__avt-link">
                                    <img src="${userVoteField.avatar}" alt="" class="user-behavior-person__avt avatar">
                                </a>
                                <div class="user-behavior-person flex_aic_jcc">
                                    <div class="user-behavior-person__text-block flex_fdc_aif">
                                        <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userVoteId}/" class="user-behavior-person__name">${userVoteField.name}</a>
                                        <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userVoteId}/" class="user-behavior-person__id">${userVoteId.slice(0,6) + '...' +userVoteId.slice(-4)}</a>
                                    </div>
                                </div>     
                            </div>
                        </li>
                        `
                        commentUpvoteList.innerHTML += new_user_vote;
                        if(response['state2']) {
                            // console.log(response['state2']);
                            commentDownvote.innerHTML = `
                            <svg class="comment__downvote" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                                    <g transform="rotate(180 12 12)">
                                    <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                                    </g>
                                </svg>`;
                            commentDownvoteNumber_x.textContent = `${response['number_downvotes']}`;
                            if(commentDownvoteList.querySelector(`.user-behavior__item.${userName}`)) {
                                commentDownvoteList.removeChild(commentDownvoteList.querySelector(`.user-behavior__item.${userName}`));
                            }
                        }
                    }
                    else {
                        commentUpvote.innerHTML = `
                            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                                <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                            </svg>`;
                        commentUpvoteList.removeChild(commentUpvoteList.querySelector(`.user-behavior__item.${userName}`));
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                }
            })
        }

        commentDownvoteForm.onsubmit = (e) => {
            e.preventDefault();
            $.ajax({
                type: "POST",
                // url: '',
                data: {
                    'action': 'downvote',
                    'comment_id': commentDownvoteForm.classList[3],
                    'csrfmiddlewaretoken': commentDownvoteForm.children[0].value, 
                },
                success: function(response) {
                    const userDownvote = JSON.parse(response['user_downvote'])[0];
                    const userDownvoteId = userDownvote.pk;
                    const userDownvoteField = userDownvote.fields;
                    commentDownvoteNumber_x.textContent = `${response['number_downvotes']}`;
                    if(response['state'] == 'activate_downvote') {
                        commentDownvote.innerHTML = `
                                <svg class="comment__downvote-fill" fill="#17E3A6" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <g transform="rotate(180 12 12)">
                                    <path d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z" fill="#17E3A6"/>
                                    </g>
                                </svg>`;
                        let new_user_vote = `
                            <li class="user-behavior__item ${userName} flex_aic_jcc">
                            <div class="user-behavior__info">
                                <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userDownvoteId}/" class="avatar-wrap user-behavior-person__avt-link">
                                    <img src="${userDownvoteField.avatar}" alt="" class="user-behavior-person__avt avatar">
                                </a>
                                <div class="user-behavior-person flex_aic_jcc">
                                    <div class="user-behavior-person__text-block flex_fdc_aif">
                                        <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userDownvoteId}/" class="user-behavior-person__name">${userDownvoteField.name}</a>
                                        <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userDownvoteId}/" class="user-behavior-person__id">${userDownvoteId.slice(0,6) + '...' + userDownvoteId.slice(-4)}</a>
                                    </div>
                                </div>     
                            </div>
                        </li>
                        `
                        commentDownvoteList.innerHTML += new_user_vote;
                        if(response['state2']) {
                            console.log(response['state2']);
                            commentUpvote.innerHTML = `
                                <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                                      <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                                  </svg>`;
                            commentUpvoteNumber_x.textContent = `${response['number_upvotes']}`;
                            if(commentUpvoteList.querySelector(`.user-behavior__item.${userName}`)) {
                                commentUpvoteList.removeChild(commentUpvoteList.querySelector(`.user-behavior__item.${userName}`));
                            }
                        }
                    }
                    else {
                        commentDownvote.innerHTML = `
                                <svg class="comment__downvote" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                                    <g transform="rotate(180 12 12)">
                                    <path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/>
                                    </g>
                                </svg>`;
                            commentDownvoteList.removeChild(commentDownvoteList.querySelector(`.user-behavior__item.${userName}`));
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                }
            })
        }
        });
    });
</script>