{% load static %}
<div class="connect">
    <div class="container-connect">
        <h1 class="connect__heading">Connect</h1>
        <ul class="connect__list flex_fdc_aif">
            <li class="connect__item">MetaMask
                <div class="content__item-img--wrap">
                    <img src="{% static 'images/vector/metamask.svg' %}" alt="" class="connect__item-img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path d="M0 12H24M24 12L13 1M24 12L13 23" stroke="#E8E8E8" stroke-width="2" stroke-linejoin="round"/>
    </svg>
                </div>
            </li>
            <li class="connect__item">
                WalletConnect
                <div class="content__item-img--wrap">
                    <img src="{% static 'images/vector/walletconnect.svg' %}" alt="" class="connect__item-img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path d="M0 12H24M24 12L13 1M24 12L13 23" stroke="#E8E8E8" stroke-width="2" stroke-linejoin="round"/>
    </svg>
                </div>
            </li>
            <li class="connect__item">
                CoinbaseWallet
                <div class="content__item-img--wrap">
                    <img src="{% static 'images/vector/coinbasewallet.svg' %}" alt="" class="connect__item-img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path d="M0 12H24M24 12L13 1M24 12L13 23" stroke="#E8E8E8" stroke-width="2" stroke-linejoin="round"/>
    </svg>
                </div>
            </li>
            <li class="connect__seperate flex_aic_jcc">
                <div class="connect__seperate-line"></div>
                <p class="connect__seperate-or">or</p>
                <div class="connect__seperate-line"></div>
            </li>
            <li class="connect__item">Continue with email
                <div class="content__item-img--wrap">
                    <img src="{% static 'images/vector/email.svg' %}" alt="" class="connect__item-img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path d="M0 12H24M24 12L13 1M24 12L13 23" stroke="#E8E8E8" stroke-width="2" stroke-linejoin="round"/>
    </svg>
                </div>
            </li>
            <li class="connect__policy">
                By continuing you agree to MeeCats <a href="">Privacy Policy</a> and <a href="">Terms and Conditions</a>
            </li>
        </ul>
    </div>
</div>