{% extends 'main.html' %}

{% block content %}
<div class="container-edit-profile flex_aic_jcc">
<div class="edit-profile box">
    <span class="borderLine"></span>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Edit your profile</h2>
      {% for field in form %}

        {% if forloop.counter > 2 %}
        <div class="inputBox">
            <span>{{field.name}}</span>
            {{field}}
            {{field.errors}}
            <i></i>
        </div>
        {% else %}
            <div class="inputBox" style="color: #fff;">
                <div class="wrap-avatar">
                    <span>{{field.name}}</span>
                </div>
                {{field}}
                {{field.errors}}
                <i></i>
            </div>
        {% endif %}

      {% endfor %}
      <div class="edit-profile__submit">
        <a href="{% url 'update_password' %}" class="change-password">Change your password</a>
      </div>
      <div class="edit-profile__submit">
          <input type="submit" value="Update">
          <a href="javascript:history.back()" class="edit-profile__back">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
  (() => {
    document.querySelector('textarea').classList.add('scroll');
  })();
</script>
{% endblock scripts %}