{% extends 'main.html'%}
{% load static %}
{% block content %}
<div class="hero-1">
    <div class="container container-2">
        <div class="hero__inner-1">
            <div class="hero__about-1">
                <h1 class="hero__heading-1">Discover a universe of NFTs you can trade and collect</h1>
                <p class="hero__desc-1">Find and trade everything from rare digital art and branded crypto-collectibles, to digital fashion and gaming items you can use in multiple worlds.</p>
                <button class="hero__button hero__button-1">Explore now</button>
            </div>
            <div class="hero-img__section-1 flex_aic_jcc">
                <img src="{% static 'images/home_images/image7.svg'%}" alt="" class="hero__img-1">
            </div>
        </div>
    </div>
</div>

{% endblock content %}