{% extends 'main.html'%}
{% load static %}
{% block content %}
<div class="hero-5"">
    <div class="container container__custom">
        <div class="hero__inner-5">
            <div class="hero__about-5">
                <h1 class="hero__heading-5">Explore Virtual Worlds</h1>
                <p class="hero__desc-5">Virtual worlds are blockchain-fueled alternative realities where users can create and trade digital goods, play games, and display NFTs in galleries, among other intriguing use cases.</p>
                <button class="hero__button hero__button-5">Explore now</button>
            </div>
            <div class="hero-img__section-5 flex_aic_jcc">
                <img src="{% static 'images/home_images/image9.svg'%}" alt="" class="hero__img-5">
            </div>
        </div>
    </div>
</div>

{% endblock content %}