{% extends 'main.html' %}

{% block content %}
<div class="container-auth flex_aic_jcc">
  {% if page == 'login' %}
  <div class="nft-login box">
    <span class="borderLine"></span>
    <form method="POST">
      {% csrf_token %}
      <h2>Sign In</h2>
      <div class="section-input">
        <div class="inputBox">
          <input type="email" required="required" name="email">
          <span>Email</span>
          <i></i>
        </div>
        <div class="input-error">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="section-input">
        <div class="inputBox">
          <input type="password" required="required" name="password">
          <span>Password</span>
          <i></i>
        </div>
      </div>
      <div class="links">
        <a href="#">Forgot Password</a>
        <a href="{% url 'register' %}">Sign Up</a>
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
  {% else %}
  <div class="nft-register box">
    <span class="borderLine"></span>
    <form method="POST">
      {% csrf_token %}
      <h2>Sign Up</h2>
      {% for field in form %}
        <div class="section-input">
          <div class="inputBox">
            <span>{{field.label}}</span>
            {{field}}
            <i></i>
          </div>
          <div class="input-error">
            {{field.errors}}
          </div>
        </div>
      {% endfor %}
      <input type="submit" value="Register">
    </form>
  </div>
</div>
  {% endif %}

{% endblock content %}
{% block scripts %}
<script>
  (() => {
     const textarea = document.querySelector('textarea');
     if(textarea) {
       document.querySelector('textarea').classList.add('scroll');
       document.querySelector('.nft-register textarea').style.marginTop = '43px';
     }
    const $inputError = $('.input-error');
    console.log($inputError.text());
    if($inputError.text().trim() != '') {
      $('.section-input').css('grid-template-columns', 'repeat(2, 1fr)');
      $('.container-auth .box').css('width', '800px');
    } else {
      $('.section-input').css('grid-template-columns', 'repeat(1, 1fr)');
    }
  })();
</script>
{% endblock scripts %}
