{% extends 'main.html' %}

{% block content %}
<div class="container-auth flex_aic_jcc">
  {% if page == 'login' %}
  <div class="nft-login box">
    <span class="borderLine"></span>
    <form method="POST">
      {% csrf_token %}
      <h2>Sign In</h2>
      <div class="inputBox">
        <input type="email" required="required" name="email">
        <span>Email</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="password" required="required" name="password">
        <span>Password</span>
        <i></i>
      </div>
      <div class="links">
        <a href="#">Forgot Password</a>
        <a href="{% url 'register' %}">Sign Up</a>
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
  {% else %}
  <div class="nft-register box">
    <span class="borderLine"></span>
    <form method="POST">
      {% csrf_token %}
      <h2>Sign Up</h2>
      {% for field in form %}
      <div class="inputBox">
        <span>{{field.name}}</span>
        {{field}}
        {{field.errors}}
        <i></i>
      </div>
      {% endfor %}
      <input type="submit" value="Register">
    </form>
  </div>
</div>
  {% endif %}

{% endblock content %}