{% load static %}
<div class="partners-5">
    <div class="container-full-width">
        <div class="partners-5__inner flex_fdc_aif">
            <h2 class="partners-5__heading">Some of out partners-5</h2>
            <ul class="partners-5__list flex_aic_jcc">
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/smurfs.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/crypto.com.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/finder.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/bancor.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/CoinGecko.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/Blockchain.svg' %}" alt="">
                    </a>
                </li>
            </ul>
            <ul class="partners-5__list flex_aic_jcc">
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/bancor.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/Blockchain.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/okcoin.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/be_in_crypto.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/smurfs.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/finder.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>