{% extends 'main.html' %}
{% load static %}
{% load my_custom_tags %}
{% block content %}
<div class="profile">
    <div class="profile__picture">
        <img src="{{user.cover_photo}}" alt="" class="profile__cover-photo">
    </div>
    <div class="container">
        <div class="profile__info">
            <!-- <h1 style="color: #ffffff; font-size: 3.8rem;">{{url_method}}</h1> -->
            <div class="profile__user-avt--wrap">
                <img src="{{user.avatar}}" alt="" class="profile__user-avt">
            </div>
            <div class="profile__follow flex_aic_jcc">
                <div class="profile__follow--wrap flex_fdc_aif">
                    <button type="submit" class="profile__follow-value profile__follower-value">{{user.follower_set.all|length}}</button>
                    <p class="profile__follow-key">Follower</p>
                </div>
                {% if user != request.user %}
                <div class="profile__follow--wrap profile__followee-value flex_fdc_aif">
                    <button class="profile__follow-value">{{user.following_set.all|length}}</button>
                    <p class="profile__follow-key">Follow</p>
                </div>
                {% else %}
                <div class="profile__follow--wrap profile__followee-value user_authenticated flex_fdc_aif">
                    <button class="profile__follow-value">{{user.following_set.all|length}}</button>
                    <p class="profile__follow-key">Follow</p>
                </div>
                {% endif %}
            </div>
            <div class="profile__name--wrap flex_aic_jcc">
                <h1 class="profile__name">@{{user.name}}</h1>
                {% if user != request.user %}
                    <form method="POST" action="" class="profile follow-button-form">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="follow">
                        {% if request.user not in user.follower_set.all|filter_queryset:"follower" %}     
                           <button type="submit" class="follow-button flex_aic_jcc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path d="M3.2549 0V3.33333H0V4.64762H3.2549V8H4.72549V4.64762H8V3.33333H4.72549V0H3.2549Z" fill="#000"/>
                                </svg>
                                Follow
                            </button>
                        {% else %}
                            <button type="submit" class="unfollow-button flex_aic_jcc">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#000"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                Unfollow
                            </button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            <p class="profile__joined-day">{{user.date_joined|date:"M d, Y"}}</p>
            <p class="profile__bio">{{user.bio}}</p>
            <button class="see__more">See more</button>
            
        </div>
        <!-- <ul class="profile__activity">
            <li class="profile__activity-item">
                <form action="" method="POST" class="profile__activity-form">
                    <button type="submit" class="profile__activity-button">Collected</button>
                </form>
            </li>
            <li class="profile__activity-item">
                <form action="" method="POST" class="profile__activity-form">
                    <button type="submit" class="profile__activity-button">Created</button>
                </form>
            </li>
            <li class="profile__activity-item">
                <form action="" method="POST" class="profile__activity-form">
                    <button type="submit" class="profile__activity-button">Favorited</button>
                </form>
            </li>
        </ul> -->
        <ul class="profile__activity">
            <li class="profile__activity-item">
                <a href="?filter=collected&">Collected</a>
            </li>
            <li class="profile__activity-item">
                <a href="?filter=created&">Created</a>
            </li>
            <li class="profile__activity-item">
                <a href="?filter=favorited&">Favorited</a>
            </li>
        </ul>
        <div class="profile__filter">
            <form action="" method="GET" class="profile__search-bar">
                <i class="fa fa-search"></i>
                <input type="text" class="type" name="profile-search" placeholder="Search by name">
            </form>
            {% include 'NFTapp/explore/classify/classify1.html' %}
        </div>
        <div class="profile__collection">
            {% if products|length == 0 %}
                <div class="profile__annouce flex_aic_jcc">
                    <p class="profile__annouce-text">No items to display</p>
                </div>
            {% else %}
                <ul class="profile-product__list">
                    {% for product in products %}
                        <li class="profile-product__item">
                            <a href="{% url 'collection1' product.id %}" class="profile-product__link">
                                <div>
                                    <img src="{{product.image}}" alt="" class="profile-product__img">
                                </div>
                                <div class="profile-product__info">
                                    <h2 class="profile-product__name limit-line">{{product.name}}</h2>
                                    <p class="profile-product__topic limit-line">{{product.topic.name}}</p>
                                </div>
                                <form action="{% url 'collection1' product.id %}" class="profile-product__buy-form">
                                    <button class="buy-button">Buy now</button>
                                    <button type="submit" href="?filter=add-to-cart" class="add-to-cart flex_aic_jcc">
                                        <svg class="product-detail__svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" style="fill:#ffffff"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
                                        </svg>
                                    </button>
                                </form>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <a href="{% url 'profile' user.id %}" class="user-id" style="display: none;"></a>
    </div>
</div>

<div class="profile-user-follower" style="display: none;">
    {% include 'NFTapp/user_behavior.html' with user_behavior_list=profile_user_follower filter="follower" behavior_of_user="Follower" %}
</div>

<div class="profile-user-followee" style="display: none;">
    {% include 'NFTapp/user_behavior.html' with user_behavior_list=profile_user_followee filter="followee" behavior_of_user="Follow" %}
</div>

{% endblock content %}

{% block scripts %}
<script>
    // <ul class="profile__activity">
    //         <li class="profile__activity-item">
    //             <form action="" method="POST" class="profile__activity-form">
    //                 <button type="submit" class="profile__activity-button">Collected</button>
    //             </form>
    //         </li>
    // $( document ).ready(function() {
    //     const profileActivityForm = document.querySelectorAll('.profile__activity-form');
    //     const activityList = ['user_collected', 'user_created', 'user_favorited']
    //     profileActivityForm.forEach((element, index) => {
    //         element.onsubmit = (e) => {
    //             e.preventDefault()
    //             $.ajax({
    //                 type: "POST",
    //                 // url:,
    //                 data: {
    //                     'action': activityList[index],
    //                     'csrfmiddlewartoken': element.children[0],
    //                 }
    //             })
    //         }
    //     })
    // })
    var check = true;
    const links = document.querySelectorAll('.profile__activity-item a');
    if(window.location.href == document.querySelector(".user-id")) {
        links[0].style.backgroundColor = '#17E3A6';
        links[0].style.color = '#000';
        check = false;
    }

    let prevLink = localStorage.getItem('prevClickedLink');
    if (prevLink !== null && check) {
        prevLink = document.querySelector(`.profile__activity-item a[href="${prevLink}"]`);
        if (prevLink) {
            prevLink.style.backgroundColor = '#17E3A6';
            prevLink.style.color = '#000';
        }
    }

    links.forEach(link => {
        link.addEventListener('click', function(event) {
            localStorage.setItem('prevClickedLink', link.getAttribute('href'));
      });
    });

    const profileFollowerNumber = document.querySelectorAll(".profile__follow-value")[0];
    const profileFolloweeNumber = document.querySelectorAll(".profile__follow-value")[1];

    const profileFollower = document.querySelectorAll('.profile__follow-key')[0];
    const profileFollowee = document.querySelectorAll('.profile__follow-key')[1];
    
    const profileUserFollower = document.querySelector('.profile-user-follower');
    profileFollowerNumber.onclick = (e) => {
        profileUserFollower.style.display = 'block';
    }

    profileFollower.onclick = (e) => {
        profileUserFollower.style.display = 'block';
    }

    const profileUserFollowee = document.querySelector('.profile-user-followee');
    profileFolloweeNumber.onclick = (e) => {
        profileUserFollowee.style.display = 'block';
    }

    profileFollowee.onclick = (e) => {
        profileUserFollowee.style.display = 'block';
    }
    
    const productUserBehavior = document.querySelectorAll('.container-user-behavior');
    productUserBehavior.forEach(element => {
    const userBehaviorBlock = element.querySelector(".user-behavior");
    const userBehaviorCloseButton = element.querySelector(".user-behavior__close");
    userBehaviorCloseButton.onclick = (e) => {
        element.parentNode.style.display = "none";
    }
    
    element.onclick =  (e) => {
        if (e.target !== userBehaviorBlock) {
            element.parentNode.style.display = "none";
        }
    };

    userBehaviorBlock.onclick = (e) => {
        e.stopPropagation();
    }
    
})
  
    $( document ).ready(function() {
        $('.profile.follow-button-form').submit((e) => {
            e.preventDefault();
            const user = '{{user|escapejs}}';
            const user_id = '{{user.id|escapejs}}';
            $.ajax({
                type: "POST",
                // url: `/profile/${user_id}`,
                data: {
                  'action': 'follow', 
                  'user_follow': user,
                  'user_follow_id': user_id,
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response) {
                    let profileUserFollower = JSON.parse(response['profile_user_follower'])
                    let userFollowField = profileUserFollower[0].fields
                    let userFollowId = profileUserFollower[0].pk
                    $('.profile__follower-value').text(`${response['number_follower']}`);
                    if(response['state'] == 'unfollow') {
                        $('.profile.follow-button-form').html(``);
                        $('.profile.follow-button-form').html(`
                        <input type="hidden" name="action" value="follow">
                        {% csrf_token %}
                        <button type="submit" class="follow-button flex_aic_jcc">
                         <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                             <path d="M3.2549 0V3.33333H0V4.64762H3.2549V8H4.72549V4.64762H8V3.33333H4.72549V0H3.2549Z" fill="#000"/>
                         </svg>
                         Follow
                    </button>`);
                    // $('.follower.user-behavior__list').children().last().remove();
                    }
                    else {
                        $('.profile.follow-button-form').html(``);
                        $('.profile.follow-button-form').html(`
                        <input type="hidden" name="action" value="follow">
                        {% csrf_token %}
                        <button type="submit" class="unfollow-button flex_aic_jcc">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#000"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                         Unfollow
                    </button>`);

                    let new_user_follow = `
                    <li class="user-behavior__item flex_aic_jcc">
                        <div class="user-behavior__info">
                            <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userFollowId}/" class="avatar-wrap user-behavior-person__avt-link">
                                <img src="${userFollowField.avatar}" alt="" class="user-behavior-person__avt avatar">
                            </a>
                            <div class="user-behavior-person flex_aic_jcc">
                                <div class="user-behavior-person__text-block flex_fdc_aif">
                                    <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userFollowId}/" class="user-behavior-person__name">${userFollowField.name}</a>
                                    <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userFollowId}/" class="user-behavior-person__id">${userFollowId.slice(0,6) + '...' +userFollowId.slice(-4)}</a>
                                </div>
                            </div>     
                        </div>
                    </li>`
                    $('.follower.user-behavior__list').append(new_user_follow);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error', jqXHR, textStatus, errorThrown);
                }
            });
        });
        let newUserFolowList = []
        $('.get_behavior_of_user').each((index, element__) => {
            let selectedForm = '.' + element__.textContent + '.follow-button-form';
            $(selectedForm).each((index, element) => {
                element.onsubmit = (e) => {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        // url: `/profile/${user_id}`,
                        data: {
                        'action': 'list_follow',
                        'user_follow_id': element.classList[0],
                        'csrfmiddlewaretoken': element.childNodes[1].value, 
                        },
                        success: function(response) {
                            let profileUserFollower = JSON.parse(response['profile_user_follower']);
                            let userPosition = JSON.parse(response['user_position']);
                            let requestUserId = '{{request.user.id|escapejs}}';
                            let userFollowField = profileUserFollower[0].fields;
                            let userFollowId = profileUserFollower[0].pk;
                            console.log(response['state']);
                            console.log(response['number_follow']);
                            console.log(document.querySelector('.profile__followee-value.user_authenticated .profile__follow-value'));
                            $('.profile__followee-value.user_authenticated .profile__follow-value').text(`${response['number_follow']}`);
                            if(response['state'] == 'unfollow') {
                                element.innerHTML = `
                                <input type="hidden" name="action" value="list_follow">
                                {% csrf_token %}
                                <button type="submit" class="follow-button flex_aic_jcc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path d="M3.2549 0V3.33333H0V4.64762H3.2549V8H4.72549V4.64762H8V3.33333H4.72549V0H3.2549Z" fill="#000"/>
                                </svg>
                                Follow
                            </button>`;
                            console.log(`.user-behavior__item.${userFollowId}`);    
                            // if(requestUserId == userPosition[0].pk) {
                            //     console.log($('.follow.user-behavior__list').find(`.${userFollowId}`));
                            //     $('.follow.user-behavior__list').find(`.${userFollowId}`).remove();
                            // }
                            }
                            else {
                            element.innerHTML = `
                                <input type="hidden" name="action" value="list_follow">
                                {% csrf_token %}
                                <button type="submit" class="unfollow-button flex_aic_jcc">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#000"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                Unfollow
                            </button>`;
                            if (requestUserId == userPosition[0].pk) {
                                let newUserFollow = `
                                <li class="user-behavior__item ${userFollowId} flex_aic_jcc">
                                    <div class="user-behavior__info">
                                        <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userFollowId}/" class="avatar-wrap user-behavior-person__avt-link">
                                            <img src="${userFollowField.avatar}" alt="" class="user-behavior-person__avt avatar">
                                        </a>
                                        <div class="user-behavior-person flex_aic_jcc">
                                            <div class="user-behavior-person__text-block flex_fdc_aif">
                                                <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userFollowId}/" class="user-behavior-person__name">${userFollowField.name}</a>
                                                <a href="//${window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/profile/" + userFollowId}/" class="user-behavior-person__id">${userFollowId.slice(0,6) + '...' +userFollowId.slice(-4)}</a>
                                            </div>
                                        </div>     
                                    </div>
                                    <form method="POST" action="" class="${userFollowId} ${element__.textContent} follow-button-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="list_follow">
                                    <button type="submit" class="follow-button unfollow-button flex_aic_jcc">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#000"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                            Unfollow
                                        </button>
                                    </form>
                                </li>
                                `
                                $('.follow.user-behavior__list').append(newUserFollow);
                                newUserFolowList.push($('.follow.user-behavior__list').children().last().children()[1]);
                                // $('.follow.user-behavior__list').last().submit((e) =>{
                                //     e.preventDefault();
                                //     let newUserAdd = $('.follow.user-behavior__list').children().last().children()[1];
                                    
                                //     $.ajax({
                                //         type: "POST",
                                //         // url: `/profile/${user_id}`,
                                //         data: {
                                //         'action': 'list_follow',
                                //         'user_follow_id': element.classList[0],
                                //         'csrfmiddlewaretoken': element.childNodes[1].value, 
                                //         },
                                //         success: function(response) {
                                //             $('.profile__followee-value.user_authenticated .profile__follow-value').text(`${response['number_follow']}`);
                                //             if(response['state'] == 'unfollow') {
                                //                 newUserAdd.innerHTML = ``
                                //                 newUserAdd.innerHTML = `
                                //                 <input type="hidden" name="action" value="list_follow">
                                //                 {% csrf_token %}
                                //                 <button type="submit" class="follow-button flex_aic_jcc">
                                //                 <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                //                     <path d="M3.2549 0V3.33333H0V4.64762H3.2549V8H4.72549V4.64762H8V3.33333H4.72549V0H3.2549Z" fill="#000"/>
                                //                 </svg>
                                //                 Follow
                                //             </button>`;    
                                //             // $('.follow.user-behavior__list').find(`.${userFollowId}`).remove();
                                            
                                //             }
                                //             else {
                                //                 newUserAdd.innerHTML = ``
                                //                 newUserAdd.innerHTML = `
                                //                 <input type="hidden" name="action" value="list_follow">
                                //                 {% csrf_token %}
                                //                 <button type="submit" class="unfollow-button flex_aic_jcc">
                                //                     <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#000"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                //                 Unfollow
                                //             </button>`;
                                            
                                //             }
                                //         },
                                //         error: function(jqXHR, textStatus, errorThrown) {
                                //             console.log('error', jqXHR, textStatus, errorThrown);
                                //         }
                                //     })
                                // });
                            }
                            }
                            newUserFolowList.forEach((element) => {
                                console.log(element);
                                element.onsubmit = (e) => {
                                    e.preventDefault();
                                    $.ajax({
                                        type: "POST",
                                        // url: `/profile/${user_id}`,
                                        data: {
                                        'action': 'list_follow',
                                        'user_follow_id': element.classList[0],
                                        'csrfmiddlewaretoken': element.childNodes[1].value, 
                                        },
                                        
                                        success: function(response) {
                                            $('.profile__followee-value.user_authenticated .profile__follow-value').text(`${response['number_follow']}`);
                                            if(response['state'] == 'unfollow') {
                                                element.innerHTML = `
                                                <input type="hidden" name="action" value="list_follow">
                                                {% csrf_token %}
                                                <button type="submit" class="follow-button flex_aic_jcc">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                                    <path d="M3.2549 0V3.33333H0V4.64762H3.2549V8H4.72549V4.64762H8V3.33333H4.72549V0H3.2549Z" fill="#000"/>
                                                </svg>
                                                Follow
                                            </button>`;
                                            }
                                            else {
                                            element.innerHTML = `
                                                <input type="hidden" name="action" value="list_follow">
                                                {% csrf_token %}
                                                <button type="submit" class="unfollow-button flex_aic_jcc">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#000"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                                Unfollow
                                            </button>`;
                                            
                                            }
                                        },
                                        error: function(jqXHR, textStatus, errorThrown) {
                                            console.log('error', jqXHR, textStatus, errorThrown);
                                        }
                                    })
                                }
                            })
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log('error', jqXHR, textStatus, errorThrown);
                        }
                    });
                }
            });
        });
    });
      
  </script>
{% endblock scripts %}


