{% extends 'main.html' %}

{% block content %}
<div class="container-edit-profile flex_aic_jcc">
  <div class="flex_aic_jcc">
    <div class="edit-profile box" style="height: 520px; width: 520px;">
      <span class="borderLine"></span>
      <form method="POST">
        {% csrf_token %}
        <h2 style="margin: 10px 0 20px 0;">Change your password</h2>
        {% for field in form %}
  
          {% if forloop.counter > 2 %}
              <div class="inputBox">
                <span>{{field.label}}</span>
                {{field}}
                <i></i>
              </div>
          {% else %}
                <div class="inputBox" style="color: #fff;">
                    <div class="wrap-avatar">
                        <span>{{field.label}}</span>
                    </div>
                    {{field}}
                    <i></i>
                </div>
          {% endif %}
  
        {% endfor %}
        <div class="edit-profile__submit">
            <input type="submit" value="Update">
            <a href="javascript:history.back()" class="edit-profile__back">Cancel</a>
        </div>
      </form>
    </div>
    <ul class="input-error">
      {% for field in form %} 
        <li>{{field.errors}}</li>
      {% endfor %}
      </ul>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  (() => {
    const $inputError = $('.input-error');
    console.log($inputError.text());
    if($inputError.text().trim() != '') {
      $('.section-input').css('grid-template-columns', 'repeat(2, 1fr)');
      $('.container-auth .box').css('width', '800px');
    } else {
      $('.section-input').css('grid-template-columns', 'repeat(1, 1fr)');
    }
  })();
</script>
{% endblock scripts %}