
.classify__child-form-1 {
    width: 100%;
}

.classify__child-button-1 {
    display: inline-block;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 14px 16px;
    text-align: right;
    color: #DBDBDB;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.classify__child-button-1:hover {
    color: #17E3A6;
}

.classify__item-1:hover .classify__child-list-1 {
    display: block;     
}

.classify__child-button-1:hover {
    background-color: #9D9D9D;
}