.product-detail {
    
}

.product-detail-web {
    display: none;
}


.product-detail-mobile .product-detail__img--wrap {
    margin: 20px 0;
}

.product-detail-mobile .product-detail__img--wrap-2 {
    height: 400px;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}

.product-detail-mobile .product-detail__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease 0s;
}

.product-detail-mobile .product-detail__img:hover {
    transform: scale(1.1);
}

.product-detail-mobile .img__info {
    padding: 12px;
    display: flex;
    border-radius: 12px 12px 0 0;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-color: #212127;
}

.product-detail-mobile .view-original-media {

}

.product-detail-mobile .like-button {

}

.product-detail-mobile .product-detail__info-1 {

}

.product-detail-mobile .product-detail__info {

}

.product-detail-mobile .product-detail__topic {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    letter-spacing: 0.05rem;
}


.product-detail-mobile .product-detail__name {
    background: linear-gradient(90deg, #20E2A7 7%, #77DCCE 10.55%, #6FC7F2 27.51%, #A0A1ED 12.87%, #FE5CD6 38.52%, #FF669F 32.95%);    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.6rem;
    font-weight: 600;
    margin: 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    word-break: break-word;
}


.product-detail-mobile .product-detail__author {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    letter-spacing: 0.02rem;
}
.product-detail-mobile .product-detail__author a {
    color: #17E3A6;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    letter-spacing: 0.02rem;
    text-decoration: underline;
}

 .product-detail-mobile .product-statistic {
    margin: 25px 18px;
}

 .product-detail-mobile .product-statistic__list {
    justify-content: flex-start;
    gap: 20px;
}

 .product-detail-mobile .product-statistic__item {
    list-style: none;
    gap: 5px;
    align-items: center;
}

 .product-detail-mobile .product-statistic__value {
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

 .product-detail-mobile .product-statistic__key {
    color: #CFCFCF;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}

 .product-detail-mobile .product-detail__rarity {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.02rem;
    margin-bottom: 5px;
}

.product-detail-mobile .product-detail__ranking {
    color: #FFF;
    margin-bottom: 15px;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.02rem;
}

.product-detail-mobile .product-detail__offer {
    padding: 20px;
    background-color: #212127;
    border-radius: 12px;
}

.product-detail-mobile .product-detail__current-price {
    margin-bottom: 16px;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    letter-spacing: 0.02rem;
}

.product-detail-mobile .product-detail__price {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    max-width: 100%;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    word-break: break-word;
}

.product-detail__price-dollars {
    color: #C7C7C7;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.05rem;
}

.product-detail-mobile .product-detail__buy-form {
    margin-top: 16px;
    border-radius: 51px;
    border: 1px solid #17E3A6;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.product-detail-mobile .buy-button {
    padding: 12px 24px;
    width: 100%;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 550;
    line-height: 1;
    overflow: hidden;
    border-radius: 51px 0px 0px 51px;
    letter-spacing: 0.05rem;
}

.product-detail-mobile .buy-button:hover,
.product-detail-mobile .add-to-cart:hover {
    background-color: #17E3A6;
    color: #000;
}

.product-detail-mobile .add-to-cart {
    padding: 12px;
    border-left: 1px solid #17E3A6;    
    width: 100%;
    overflow: hidden;
    border-radius: 0px 51px 51px 0px;
}

.product-detail-mobile .add-to-cart:hover svg path {
    fill: #000;
}

.product-owner-button,
.product-favorite-button {
    text-decoration: underline;
}

.product-owner-button:hover,
.product-favorite-button:hover,
.product-owner-number:hover,
.product-favorite-number:hover {
    color:#17E3A6
}

@media only screen and (min-width: 768px) {
    .product-detail {
    
    }
    
    .product-detail-web {
        display: grid;
        grid-template-columns: 4.5fr 5.5fr;
        gap: 20px;
    }
    
    .product-detail-mobile {
        display: none;
    }
    
    .product-detail-web .product-detail__img--wrap {
        margin: 0 0;
    }
    
    .product-detail-web .product-detail__img--wrap-2 {
        height: 500px;
        overflow: hidden;
        border-radius: 0 0 12px 12px;
    }
    
    .product-detail-web .product-detail__img {
        width: 100%;
        transition: transform 0.4s ease 0s;
    }
    
    .product-detail-web .product-detail__img:hover {
        transform: scale(1.1);
    }
    
    .product-detail-web .img__info {
        padding: 12px;
        display: flex;
        border-radius: 12px 12px 0 0;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        background-color: #212127;
    }
    
    .product-detail-web .view-original-media {
    
    }
    
    .product-detail-web .like-button {
    
    }
    
    .product-detail-web .like-button:hover svg path{
        /* fill: #ff3040 */
        /* background-color: #ff3040;
        fill: #ff3040;
        stroke: #ff3040; */
    }

    .product-detail-web .product-detail__info {
        padding: 12px 20px 20px 20px;
        background: #212127;
        border-radius: 12px;
        height: 80%;
    }
    
    .product-detail-web .product-detail__topic {
        color: #FFF;
        /* font-family: Aeonik; */
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
        letter-spacing: 0.05rem;
    }
    
    
    .product-detail-web .product-detail__name {
        background: linear-gradient(90deg, #20E2A7 7%, #77DCCE 10.55%, #6FC7F2 27.51%, #A0A1ED 12.87%, #FE5CD6 38.52%, #FF669F 32.95%);    background-clip: text;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
        font-weight: 600;
        width: 120%;
        max-width: 120%;
        margin: 12px 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        word-break: break-word;
    }
    
    
    .product-detail-web .product-detail__author {
        color: #FFF;
        /* font-family: Aeonik; */
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
        letter-spacing: 0.02rem;
    }

    .product-detail-web .product-detail__author a {
        color: #17E3A6;
        /* font-family: Aeonik; */
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
        letter-spacing: 0.02rem;
        text-decoration: underline;
    }


    .product-detail-web .product-statistic {
        margin: 24px 0;
    }
    
     .product-detail-web .product-statistic__list {
        justify-content: flex-start;
        gap: 20px;
    }
    
     .product-detail-web .product-statistic__item {
        list-style: none;
        gap: 5px;
        align-items: center;
    }
    
     .product-detail-web .product-statistic__value {
        color: #fff;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
    }
    
     .product-detail-web .product-statistic__key {
        color: #CFCFCF;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
    }
    
    .product-detail-web .product-detail__offer {
        padding: 20px;
        box-shadow: 0px 0px 5px 2px rgba(256,256,256,0.41);
        -webkit-box-shadow: 0px 0px 5px 2px rgba(256,256,256,0.41);
        -moz-box-shadow: 0px 0px 5px 2px rgba(256,256,256,0.41);
        border-radius: 12px;
    }
    
    .product-detail-web .product-detail__offer:hover {
        /* transform: scale(1.001); */
    }

    .product-detail-web .product-detail__current-price {
        margin-bottom: 16px;
        color: #FFF;
        /* font-family: Aeonik; */
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
        letter-spacing: 0.02rem;
    }
    
    .product-detail-web .product-detail__price {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 600;
        max-width: 100%;
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        word-break: break-word;
    }

    .product-detail__price-dollars {
        color: #C7C7C7;
        /* font-family: Aeonik; */
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1; /* 100% */
        letter-spacing: 0.05rem;
    }
    
    .product-detail-web .product-detail__buy-form {
        margin-top: 16px;
        border-radius: 51px;
        border: 1px solid #17E3A6;
        display: grid;
        grid-template-columns: 8fr 2fr;
    }
    
    .product-detail-web .buy-button {
        padding: 12px 24px;
        width: 100%;
        color: #FFF;
        /* font-family: Aeonik; */
        font-size: 2.3rem;
        font-style: normal;
        font-weight: 550;
        line-height: 1;
        overflow: hidden;
        border-radius: 51px 0px 0px 51px;
        letter-spacing: 0.05rem;
    }
    
    .product-detail-web .buy-button:hover,
    .product-detail-web .add-to-cart:hover {
        background-color: #17E3A6;
        color: #000;
    }
    
    .product-detail-web .add-to-cart {
        padding: 12px;
        border-left: 1px solid #17E3A6;    
        width: 100%;
        overflow: hidden;
        border-radius: 0px 51px 51px 0px;
    }
    
    .product-detail-web .add-to-cart:hover svg path {
        fill: #000;
    }
    
    .product-owner-button:hover,
    .product-favorite-button:hover,
    .product-owner-number:hover,
    .product-favorite-number:hover {
        color:#17E3A6
    }
    
}