.hero-5 {

}

.hero__inner-5 {
    display: flex;
    flex-direction: column;
}

.container__custom {
    width: 938px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.hero__about-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__heading-5 {
    color: #FFF;
    text-align: center;
    /* font-family: Clash Display; */
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.036rem;
}

.hero__desc-5 {
    margin: 12px 0 24px ;
    color: #CFCFCF;
    text-align: center;
    /* font-family: Aeonik; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.83; /* 183.333% */
    letter-spacing: 0.012rem;
}

.hero__button-5 {
    margin-bottom: 30px;
    display: block;
    color: #fff;
    /* font-family: Aeonik; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.466; /* 146.667% */
}

.hero-img__section-5 {

}

.hero__img-5 {

}


@media only screen and (min-width: 1000px) {
    .hero-5 {

    }
    
    .hero__inner-5 {
    
    }
    
    .hero__about-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hero__heading-5 {
        color: #FFF;
        text-align: center;
        font-size: 8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.22; /* 122.5% */
        letter-spacing: 0.08rem;
    }
    
    .hero__desc-5 {
        margin: 20px 0 40px 0;
        color: #CFCFCF;
        text-align: center;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02rem;
    }
    
    .hero__button-5 {
        margin-bottom: 60px;
    }
    
    .hero-img__section-5 {
    
    }
    
    .hero__img-5 {
    
    }
}
