
.nft-products-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-items: center;
}

.nft-product-1 {
    position: relative;
    width: 100%;
    height: 510px;
    justify-content: space-between;
    border-radius: 12px;
    overflow: hidden;
}

.nft-product__link-1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* display: block; */
}

.nft-product-image-1 {
    object-fit: cover;
    width: 100%;
    height: 570px;
    transition: transform 0.4s ease 0s;
}

.nft-product-image-1:hover {
    transform: scale(1.1);
}

.product-topic-1 {
    left: 7%;
    position: absolute;
    top: 10%;
}

.product-topic-1 a{
    background: linear-gradient(90deg, #20E2A7 7%, #77DCCE 10.55%, #6FC7F2 27.51%, #A0A1ED 12.87%, #FE5CD6 38.52%, #FF669F 32.95%);    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.0336rem;
}

.creator-1 {
    position: absolute;
    top: 25%;
    left: 7%;
    border-radius: 33px;
    background: rgba(217, 217, 217, 0.27);
    backdrop-filter: blur(4.5px);
    justify-content: flex-start;
    /* gap: 8px; */
    /* padding-left: 20px; */
}

.author-avatar-1 {

}

.creator-name-1 {
    color: #FFF;
    /* font-family: Clash Display; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    /* height: 0; */
    padding: 12px 24px;
}

.product-info-1 {
    position: absolute;
    padding: 0 15px;
    gap: 50px;
    width: 87%;
    height: 82px;
    background: rgba(246, 246, 246, 0.20);
    justify-content: space-evenly;
    backdrop-filter: blur(91.5px);
    border-radius: 12px;
    left: 7%;
    bottom: 5%;
}

.product-artwork-1 {
    gap: 15px;
}

.product-artwork-key-1 {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375; /* 93.75% */
}

.product-artwork-value-1 {
    color: #FFF;
    /* font-family: Clash Display; */
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.625; /* 62.5% */
}

.sale-1 {
    display: none;
    gap: 15px;
}

.sale-key-1 {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375; /* 93.75% */
}

.sale-value-1 {
    color: #FFF;
    /* font-family: Clash Display; */
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.625; /* 62.5% */
}

.collected-1 {
    gap: 7px;
    align-items: flex-end;;
}

.collected-by-1 {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375; /* 93.75% */
}

.collected-list-1 {
    justify-content: flex-end;
    gap: -5px;
}

.collected__item-1 {
    /* display: inline-block; */
    border-radius: 30px;
    border: 1px solid #81BC7C;
    width: 25px;
    height: 25px;
}

.collected__item-1:not(:first-child) {
    margin-left: -10px;
}

/* @media only screen and (min-width: 700px) {
    .nft-products-1 {
        grid-template-columns: repeat(2, 1fr);
    }

} */

@media only screen and (min-width: 768px) {
    .nft-products-1 {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .nft-product-1 {
    }
    
    .product-topic-1 {
        /* font-family: Clash Display; */
        font-size: 3.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.353; /* 135.294% */
        letter-spacing: 0.0476rem;
    }

    .sale-1 {
        display: flex;
    }
     

}

@media only screen and (min-width: 1130px) {
    .sale-1 {
        display: flex;
    }
    
    .product-info-1 {
        justify-content: space-evenly;
    }  
} 