.nft-products-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
}

.nft-product-2 {
    border-radius: 12px;
    background: #212127;
}

.nft-product__author-2 {
    
}

.nft-product__author-name-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 20px 20px;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22; /* 122.222% */
    
}

.nft-product__author-name-2 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c9ccd1;
}

.nft-product__img-link-2 {
    display: block;
    height: 360px;
    width: 100%;
    overflow: hidden;
}

.nft-product__img-2 {
    display: block;
    object-fit: cover;
    height: 360px;
    width: 100%;
    transition: transform 0.4s ease 0s;
}

.nft-product__img-2:hover {
    transform: scale(1.1);
}

.nft-product__info-2 {
    width: 100%;
    padding: 0 20px 20px 20px;
}

.nft-product__name-2 {
    
}

.nft-product__name-2 a {
    display: inline-block;
    margin: 25px 0 30px;
    background: linear-gradient(90deg, #20E2A7 7%, #77DCCE 10.55%, #6FC7F2 27.51%, #A0A1ED 12.87%, #FE5CD6 38.52%, #FF669F 32.95%);
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: Clash Display; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1; /* 110% */
    letter-spacing: 0.25rem;
}

.nft-product__more-info-2 {
    width: 100%;
    justify-content: space-between;
}

.nft-product__owner-wrap-2 {
    width: 33%;
    overflow: hidden;
}

.nft-product__owner-text-2 {
    color: #B6B6B6;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.nft-product__owner-2 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #B6B6B6;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.nft-product__owner-2 img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #c9ccd1;
}

.nft-product__price-wrap-2 {
    
}

.nft-product__price-text-2 {
    color: #B6B6B6;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.nft-product__price-2 {
    margin-top: 16px;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.nft-product__buy-2 {
    padding: 7px 15px;
    border-radius: 14.5px;
    border: 1px solid #FFF;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.nft-product__buy-2:hover {
    background-color: #17E3A6;
    color: #000;
    border-color: transparent;
}

/* @media only screen and (min-width: 768px) {
    .nft-products-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

}

@media only screen and (min-width: 576px) {
    .nft-products-3 {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media only screen and (min-width: 700px) {
    .nft-products-2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media only screen and (min-width: 1023px) {
    .nft-products-2 {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}