<!-- {% load static %} -->
<div class="classify-1 flex_aic_jcc">
    <div class="classify__item-1 flex_aic_jcc">
        <div class="classify__item-feature-wrap-1">
            <p class="classify__item-feature-1">Sort by</p>
            <p class="classify__item-feature-1">
                {{sort_type}}
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                    <path d="M17.2969 12.2344L13.5 16.4531L9.70312 12.2344" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </p>
        </div>
        <ul class="classify__artist classify__child-list-1" style="width: 160px;">
            <!-- <li class="classify__child-item-1">
                <a href="?sort-by=follower" class="classify__child-link-1">Follower</a>
            </li>
            <li class="classify__child-item-1">
                <a href="?sort-by=unique-collectors" class="classify__child-link-1">Unique Collectors</a>
            </li>
            <li class="classify__child-item-1">
                <a href="?sort-by=created" class="classify__child-link-1">Created</a>
            </li>
            <li class="classify__child-item-1">
                <a href="?sort-by=nft-sold" class="classify__child-link-1">NFTs Sold</a>
            </li>
            <li class="classify__child-item-1">
                <a href="?sort-by=property" class="classify__child-link-1">Property</a>
            </li> -->
            <li class="classify__child-item-1">
                <form method="POST" class="classify__child-form-1">
                    {% csrf_token %}
                    <button type="submit" class="classify__child-button-1" filter-data="follower">Follower</button>
                </form>
            </li>
            <li class="classify__child-item-1">
                <form method="POST" class="classify__child-form-1">
                    {% csrf_token %}
                    <button type="submit" class="classify__child-button-1" filter-data="unique-collectors">Unique Collectors</button>
                </form>
            </li>
            <li class="classify__child-item-1">
                <form method="POST" class="classify__child-form-1">
                    {% csrf_token %}
                    <button type="submit" class="classify__child-button-1" filter-data="created">Created</button>
                </form>
            </li>
            <li class="classify__child-item-1">
                <form method="POST" class="classify__child-form-1">
                    {% csrf_token %}
                    <button type="submit" class="classify__child-button-1" filter-data="nfts-sold">NFTs sold</button>
                </form>
            </li>
            <li class="classify__child-item-1">
                <form method="POST" class="classify__child-form-1">
                    {% csrf_token %}
                    <button type="submit" class="classify__child-button-1" filter-data="total-earned">Total Earned</button>
                </form>
            </li>
            
        </ul>
    </div>
</div>