{% load static %}
{% load my_custom_tags %}

        <ul class="profile-list-1">
            {% for user in users %}
            {% if forloop.counter <= 3 %}
            <li class="profile-list__item-1">
                <div class="profile-list__picture-1">
                    <a href="{% url 'profile' user.id %}" class="profile-list__cover-photo-1">
                        <img src="{{user.cover_photo}}" alt="" >
                    </a>
                </div>
                <div class="profile-list__about-user-1">
                    <div class="profile-list__user-1 flex_aic_jcc">
                        <a href="{% url 'profile' user.id %}" class="profile-list__avt-1">
                            <img src="{{user.avatar}}" alt="" >
                        </a>
                        <h3 class="profile-list__name-1">
                            <a href="{% url 'profile' user.id %}">
                                @{{user.name}}
                            </a>
                        </h3>
                        {% if user != request.user %}
                            {% if request.user not in user.follower_set.all|filter_queryset:"follower" %}     
                                <a href="{% url 'profile' user.id%}" class="follow-button flex_aic_jcc">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                        <path d="M3.2549 0V3.33333H0V4.64762H3.2549V8H4.72549V4.64762H8V3.33333H4.72549V0H3.2549Z" fill="#000"/>
                                    </svg>
                                    Follow
                                </a>
                                {% else %}
                                <a href="{% url 'profile' user.id%}" class="unfollow-button flex_aic_jcc">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#000"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                    Unfollow
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <ul class="profile-list__contribute-all-1 flex_aic_jcc">
                        <li class="profile-list__contribute-1">
                            <p class="profile-list__contribute-value-1">{{user.author.all|length}}</p>
                            <p class="profile-list__contribute-key-1">Created</p>
                        </li>
                        <li class="profile-list__contribute">
                            <p class="profile-list__contribute-value-1">{{user.owners.all|length}}</p>
                            <p class="profile-list__contribute-key-1">Collected</p>
                        </li>
                        <li class="profile-list__contribute">
                            <p class="profile-list__contribute-value-1">{{user.follower_set.all|length}}</p>
                            <p class="profile-list__contribute-key-1">Follower</p>
                        </li>
                    </ul>
                    {% if user.bio %}
                    <p class="profile-list__bio-1 limit-line">{{user.bio}}</p>
                    {% else %}
                    <p class="profile-list__bio-1 limit-line" style="visibility: hidden;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veritatis, tempore dolores accusantium rem inventore, temporibus quaerat eligendi aperiam architecto sint deserunt qui? Velit recusandae rerum repellat beatae repudiandae voluptas ullam fugiat temporibus itaque tempora, molestias, nisi, soluta culpa ea voluptates esse error perferendis consectetur? Error deserunt vel autem odio.</p>
                    {% endif %}
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    <!-- </div>
</div> -->
