<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Common css -->
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/partner.css' %}">
    <link rel="stylesheet" href="{% static 'styles/connect.css' %}">
    <link rel="stylesheet" href="{% static 'styles/comment.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/favorite.css' %}">
    <link rel="stylesheet" href="{% static 'styles/owner.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile_list/profile_list1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile_list/profile_list2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/subscribe/subscribe1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/subscribe/subscribe2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/subscribe/subscribe3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/subscribe/subscribe4.css' %}">
    <link rel="stylesheet" href="{% static 'styles/comment_list/comment_list1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/comment_list/comment_list2.css' %}">

    <!-- Specific css -->
    <link rel="stylesheet" href="{% static 'styles/home/home1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home/home2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home/home3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home/home4.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home/home5.css' %}">

    <link rel="stylesheet" href="{% static 'styles/explore/classify/classify1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/classify/classify2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/classify/classify3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/nftproduct/nftproduct1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/nftproduct/nftproduct2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/nftproduct/nftproduct3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/nftproduct_detail.css' %}">

    <link rel="stylesheet" href="{% static 'styles/explore/collection/collection1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/collection/collection2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/collection/collection3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/collection/collection4.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/collection/collection5.css' %}">

    <link rel="stylesheet" href="{% static 'styles/explore/artworks/artworks_common.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/artworks/artworks1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/artworks/artworks2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/artworks/artworks3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/artworks/artworks4.css' %}">
    <link rel="stylesheet" href="{% static 'styles/explore/artworks/artworks5.css' %}">

    <link rel="stylesheet" href="{% static 'styles/community/about_us/about_us1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/about_us/about_us2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/about_us/about_us3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/about_us/about_us4.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/about_us/about_us5.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/artists.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/editorial_style.css' %}">
  
    <link rel="stylesheet" href="{% static 'styles/community/FAQs/FAQs1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/FAQs/FAQs2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/FAQs/FAQs3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/FAQs/FAQs4.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community/FAQs/FAQs5.css' %}">

    <link rel="stylesheet" href="{% static 'styles/blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'styles/blog/blog_detail.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'styles/explore/explore1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/community.css' %}"> -->


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Sora:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <title>NFT Marketplace</title>
</head>
<body>

  {% include 'navbar.html' %}
  {% include 'NFTapp/connect.html' %}
  <main>
    {%block content%}

    {% endblock content %}
  </main>
  {% include 'footer.html' %}
<script src="{% static 'js/faq.js' %}"></script>
</body>
</html>