.cart-add {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: rgba(217, 217, 217, 0.25);
    padding: 15px;
    border-radius: 50%;
    z-index: 999;
}

.cart-add__svg {
    width: 20px;
    height: 20px;
}

.cart-add:hover {
    background-color: #17E3A6;
}

.cart-add:hover svg path {
    fill: #000;
}


.container-cart {
    display: none;
    background-color: #666;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 998;
}

.cart-icon-block {

}

.cart-add {

}

.cart-add__svg {

}

.cart {
    position: absolute;
    background-color: #212127;
    border-radius: 12px;
    top: 3%;
    /* right: 2%; */
    height: 100%;
    width: 100%;
}

.cart-text {
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}

.cart-text-2 {
    color: #CFCFCF;
    font-size: 1.4rem;
    font-weight: 500;
}

.cart__head {
    padding: 24px 24px 12px 24px;
    display: flex;
    align-items: center;
}   

.cart__heading {
    color: #fff;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
}

.cart__close {

}

.cart__body {
    padding: 16px 24px;
}

.cart__ammount {
    margin-bottom: 12px;
}

.cart__number {

}

.cart__clear {
    
}

.cart__clear:hover {
    color: #17E3A6;
}

.cart-product__list {
    height: 370px;
    overflow-y: auto;
    /* display: flex;
    flex-direction: column;
    gap: 8px; */
}

.cart-product__item {
    padding: 8px 16px 8px 8px;
}

.cart__product--wrap {
    justify-content: flex-start;
    gap: 20px;
}

.cart-product__img--wrap {
}

.cart-product__img {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    object-fit: cover;
}

.cart-product__info {

}

.cart-product__name {
    background: linear-gradient(90deg, #20E2A7 10%, #77DCCE 17.55%, #6FC7F2 43.51%, #A0A1ED 34.87%, #FE5CD6 74.52%, #FF669F 34.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart-product__topic {

}

.cart-product__price {
    margin: 5px 0;
}

.cart-product__detail {
    color: #17E3A6;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.cart-product__detail:hover {
    opacity: 0.8;
}

.cart-product__delete {

} 

.cart-product__delete:hover svg {
    fill: #17E3A6;
}

.cart__footer {
    padding: 24px;
}

.cart__price {

}

.cart__price-key {

}

.cart__price-value {

}

.cart__price-value-eth {

}

.cart__price-value-dollar {
    margin-top: 5px;
}

.cart__buy {
    margin-top: 20px;
    width: 100%;
}

.cart__buy-button {
    width: 100%;
    color: #000;
    font-size: 1.8rem;
    padding: 12px 24px;
    font-weight: 600;
    background-color: #17E3A6;
    border-radius: 3.2rem;
}

.cart__buy-button:hover {
    opacity: 0.8;
}

.cart__hint {
    width: 100%;
    height: 90%;
}

.cart-hint__announce {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
}

.cart-hint__redirect {
    margin-top: 30px;
}

@media only screen and (min-width: 768px) {
    .cart-add {
        bottom: 30px;  
        right: 30px;
    }

    .cart-add__svg {
        width: 30px;
        height: 30px;
    }    
    
    .cart {
        right: 2%;
        width: 400px;
        max-height: 100%;
    }
}
