* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: antiquewhite;
    background-color: #000;
    /* transition: 2s; */
}


input, textarea, select, button {
    font-size: inherit;
}

button {
    background-color: transparent;
    padding: 0;
    border-width: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

i {
    color: #BFBFBF;
}

/* .svg_hover:hover { 
    cursor: pointer;
    stroke: #17E3A6;
} */

button:hover {
    cursor: pointer;
    /* opacity: 0.7; */
}

svg:hover {
    cursor: pointer;
}

svg:hover path { 
    cursor: pointer;
    stroke: #17E3A6;
}

main {
    margin: 60px 0 150px;
}

.container-full {
    width: 100%;
    /* max-width: calc(100% - 24px); */
}

.gap-between-section {
    margin-bottom: 60px;
}

.flex_aic_jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_fdc_aif {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.limit-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .gap-between-section {
        margin-bottom: 150px;
    }
}