* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: antiquewhite;
    background-color: #000;
    /* transition: 2s; */
}


input, textarea, select, button {
    font-size: inherit;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
}

button {
    background-color: transparent;
    padding: 0;
    border-width: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #17E3A6;
}

i {
    color: #BFBFBF;
}

li {
    list-style: none;
}

textarea {
    border-radius: 10px 10px 0 0;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}


/* .svg_hover:hover { 
    cursor: pointer;
    stroke: #17E3A6;
} */

button:hover {
    cursor: pointer;
    /* opacity: 0.7; */
}

svg:hover {
    cursor: pointer;
}

svg:hover path { 
    cursor: pointer;
    stroke: #17E3A6;
}

main {
    margin: 20px 0 60px;
}

.container-full {
    width: 100%;
    max-width: calc(100% - 24px);
    margin: 0 auto;
    overflow: hidden;
}

.gap-between-section {
    margin-bottom: 60px;
}

.flex_aic_jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_aic_jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_fdc_aic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_fdc_aif {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.scroll::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.8rem;
    background-color: rgb(41, 41, 46);
}


.scroll::-webkit-scrollbar-thumb {
    width: 5%;
    background-color: gray;
    border-radius: 0.2rem;
}


.limit-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

.avatar-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    /* overflow: hidden; */
}

.avatar {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    /* padding: 5px; */
    /* background-color: #c9ccd1; */
    object-fit: cover;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    border-radius: 23px;
}

.button:hover {
    background-color: #17E3A6;
    color: #000;
    border-color: transparent;
}

.close-button {

}

.close-button > svg {
    display: block;
    width: 18px;
    height: 18px;
}

.close-button path {
    fill: #fff;
}

.close-button:hover path {
    fill: #17E3A6;
}

.follow-button-text {
    
}

.follow-button {
    gap: 5px;
    color: #000;
    padding: 10px 20px;
    border-radius: 19px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    text-transform: capitalize;
    background-color: #17E3A6;
}

.unfollow-button {
    gap: 5px;
    color: #000;
    padding: 10px 20px;
    border-radius: 19px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    text-transform: capitalize;
    background-color: #FDFDFD;
}

.follow-button:hover,
.unfollow-button:hover {
    opacity: 0.8;
    color: #000;
}

.show {
    display: block;
}

.show-ib {
    display: inline-block;
}

.show-flex {
    display: flex;
}

.rotate {
    transform: rotate(180deg);
}



.flash-message-wrap {
    cursor: pointer;
}

.flash-message {
    gap: 5px;
    top: -100%;
    right: 0;
    padding: 10px;
    /* background: rgba(217, 217, 217, 0.8); */
    background: #ccc;
    border-radius: 12px;
    /* width: 160px; */
}

.flash-message-remove {
    /* width: 210px; */
}

.flash-message__icon {
    padding: 5px;
    border-radius: 100%;
    background-color: #17E3A6;
    width: 17px;
    height: 17px;
}

.flash-message__text {
    color: #000;
    font-size: 1.4rem;
}


.flash-message-comment {
    /* width: 250px; */
}

.flash-message-comment .flash-message__icon {
    background-color: red;
}


@media only screen and (min-width: 768px) {
    main {
        margin: 60px 0 150px;
    }
    .gap-between-section {
        margin-bottom: 150px;
    }

    .avatar-wrap {
    }
    
    .avatar {
        height: 45px;
        width: 45px;
    }

    .follow-button {
        padding: 12px 24px;
    }
    
    .unfollow-button {
        padding: 12px 24px;
    }

    .flash-message__icon {
        width: 20px;
        height: 20px;
    }

    .flash-message {
        gap: 10px;
        top: -117%;
        right: 0;
        padding: 16px;
        border-radius: 15px;
    }

    .flash-message__text {
        font-size: 1.8rem;
    }
    
}