
/* .scroll::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: gray;
} */

.comment {

}

.comment__inner {
    background: #212127;
    border-radius: 6px;
    overflow-y: auto;
    overflow-x: auto;
    height: 80.5vh;
    /* margin-top: 28vh; */
    /* padding: 0 18px 36px 18px; */
    position: relative;
}

.comment__section {
    border-left: 2px solid #17E3A6;;
    margin: 10px;
    padding: 10px;
}

.comment__from {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.comment__user {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #17E3A6;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1;
    letter-spacing: 0.05rem;
}

.comment__user-avt {
    background-color: #c9c9c9;
    width: 30;
    height: 30px;
    border-radius: 50%;
}

.comment__time {
    color: #17E3A6;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1;
    letter-spacing: 0.05rem;
}

.comment__edit {
    
}

.comment__modify {
    display: none;
    color: #17E3A6;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1;
    letter-spacing: 0.05rem;
}

.comment__delete {
    display: none;
    color: #17E3A6;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1;
    letter-spacing: 0.05rem;
}

.comment__content {
    margin-top: 7px;
    color: #fff;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.05rem;
}

.comment__write {
    /* position: absolute; */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: #17E3A6;
    border-radius: 6.5px;
    z-index: 1;
}

.comment__write input {
    resize: none;
    color: #000;
    font-weight: 300;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
}

.comment__write input::placeholder {
    color: #000;
}

.comment__vote {
    margin-top: 10px;
}

.comment__vote--wrap {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110%;
    gap: 5px;

}

.comment__behavior-text {
    font-size: 1.6rem;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.comment__behavior-text:hover {
    color: #17E3A6;
}

.comment__vote-text {

}

.comment__disvote-text {

}


.comment__vote--wrap > svg {
    width: 22px;
    height: 22px;
}

.comment__vote--wrap svg:hover {
    stroke: transparent;
    fill: #17E3A6;
}

.comment__upvote-fill {
    display: inline;
}

.comment__downvote-fill {
    display: inline;
}

.comment__vote--wrap svg:hover path {
    
}

@media only screen and (min-width: 768px) {
    .comment__section {
        margin: 18px;
        padding: 18px;
    }

    .comment__user {
        font-size: 2.2rem;
    }

    .comment__user-avt {
        width: 40px;
        height: 40px;
    }

    .comment__time {
        font-size: 1.6rem;
    }
    
    .comment__modify {
        font-size: 1.6rem;
    }
    
    .comment__delete {
        font-size: 1.6rem;
    }
    
    .comment__content {
        font-size: 1.8rem;
    }
    
    .comment__write {
    }
    
    .comment__write input {
        font-size: 1.6rem;
    }
    
}
.comment-vote-hide {
    display: none;
}

.comment-vote-show-inline {
    display: inline;
}
