.footer {
    /* margin-top: 60px; */
    background: #212127;
    /* width: 100vw; */
}

.footer__section-1 {
    /* width: 100vw; */
}

.footer__section-1 .mobile-section-1 {
    
}

.web-section-1 {
    display: none;
}

.footer__section-1 .mobile-wrap {
    justify-content: space-around ;
    padding-bottom: 40px;
    /* margin-top: 40px; */
}

.mobile-section-1 {
    padding: 40px 0 20px 0;
}

.footer__logo--wrap img{
    width: 107px;
    height: 42px;
}

.mobile-section-1 .footer-social {
    gap: 12px;
}

.mobile-section-1 .footer-social__item {

}

.mobile-section-1 .footer-social__link {

}


.footer-social__item:not(:nth-child(2)) .footer-social__link:hover > svg > path {
    /* stroke: #17E3A6; */
    fill: #17E3A6;
}

.mobile-section-1 .footer-nav {
    justify-content: space-evenly;
    
}

.mobile-section-1 .footer-nav__item {
    
}

.mobile-section-1 .footer-nav__link {
    color: #FDFDFD;
    /* font-family: Aeonik; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125; /* 112.5% */
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0;
    gap: 32px;
}

.footer-copyright {

}

.footer-copyright__text {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 21px */
    
}

.footer-more-info {
    width: 100%;
    justify-content: space-around;
}

.footer-more-info__item {

}

.footer-more-info__link {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 18px */
    text-decoration-line: underline;
}

.seperate-section {
    height: 1px;
    flex-shrink: 0;
    align-self: stretch;
    background-color: #595959;
}

@media only screen and (min-width: 800px) {
    .footer {

    }
    
    .footer__section-1 {
    
    }

    .mobile-section-1 {
        display: none;
    }

    .web-section-1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 60px 0 25px 0;
    }
    
    .web-section-1 .footer__log--wrap {
        
    }
    
    .web-section-1 .footer-social {
        gap: 12px;
    }
    
    .web-section-1 .footer-social__item {
    
    }
    
    .web-section-1 .footer-social__link {

    }
    
    .web-section-1 .footer-nav {
        gap: 44px;
    }
    
    .web-section-1 .footer-nav__item {
    
    }
    
    .web-section-1 .footer-nav__link {
        color: #FDFDFD;
        /* font-family: Aeonik; */
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
    }
    
    .footer-section-2 {
        /* display: grid;
        grid-template-columns: 2fr 2fr;
        grid-column-gap: 0;
        justify-items: center; */
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    
    .footer-copyright {
    
    }
    
    .footer-copyright__text {
    
    }
    
    .footer-more-info {
        width: auto;
        gap: 24px;
    }
    
    .footer-more-info__item {
    
    }
    
    .footer-more-info__link {
        color: #FFF;
        /* font-family: Aeonik; */
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5; /* 21px */
        text-decoration-line: underline;
    }
}



