.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px -3px 5px 2px rgba(256,256,256,0.4);
    -webkit-box-shadow: 0px -3px 5px 2px rgba(256,256,256,0.4);
    -moz-box-shadow: 0px -3px 5px 2px rgba(256,256,256,0.4);
}


.container-header-mobile {
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px}

.header__menu-icon {
    display: block;
    color: #FDFDFD;
}

.header__menu-icon:hover {
    color: #17E3A6;
}

.header__logo-link {
    display: none;
}

.header__logo-img {
    width: 51px;
    height: 20px;
}

.navbar-feature {
    display: block;
    margin-bottom: 25px;
}

.navbar-back {

}

.navbar-back:hover path {
    fill: #17E3A6;
    stroke: transparent;
}

.navbar-back > svg {
    display: inline-block;
}

.navbar {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0);
    overflow-y: auto;

}

.navbar__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 20px 20px;
}

.navbar__item {

}

.navbar__link {
    display: inline-flex;
    gap: 5px;
    color: #FDFDFD;
    /* font-family: Aeonik TRIAL; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.navbar__link:hover svg path {
    stroke: #17E3A6;
}

.navbar-child__list {
    display: none;
    padding: 10px 0 10px 10px;
}

.navbar-child__item {
    padding: 5px 0;
}


.navbar-child-2__list {
    display: none;
    padding: 10px 0 10px 10px;
}

.navbar-child-2__item {
    padding: 5px 0;
}


.header-login-web {
    display: none;
}

.header-login-mobile {
    display: block;
    margin-top: 24.5px;
}

.header-login__button {
    border-radius: 21px;
    border: 2px solid #FFF;
    display: inline-block;
    padding: 12px 24px;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.header-login__button:hover {
    background-color: #17E3A6;
    border-color: transparent;
    color: #000;
}


/* Header when login */
.header-user {
    display: none;
}

.header-user-mobile {
    display: block; 
    position: relative;
}


.header-user__info--wrap {

}

.header-user__info {
}

.header-user svg {
    display: inline-block;
    height: 100%;
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.header-user:hover > .header-user__info--wrap > svg {
    transform: rotate(180deg);
}

.header-user__id {
    display: none;
    color: #CFCFCF;
    /* font-family: Aeonik TRIAL; */
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}


.header-user__name {
    display: none;
    color: #FDFDFD;
    /* font-family: Aeonik TRIAL; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.header-user__feature {
    display: none;
    position: absolute;
    width: 245%;
    top: 34px;
    right: -10px;
    background: #191919;
    border-radius: 4px;
}

.header-user:hover .header-user__feature{
    display: block;
}

.header-user__feature-item {

}

.header-user__feature-link {
    border-radius: 4px;
    /* display: none; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding: 15px 0 15px 15px;
    font-size: 1.4rem;
}

.header-user__feature-link:hover {
    background-color: #9D9D9D;
}

.header-user__feature-link:hover svg {
    fill: #17E3A6;
}



.header-login {

} 

.header-login__button {
    border-radius: 21px;
    border: 2px solid #FFF;
    display: inline-block;
    padding: 12px 24px;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.header-login__button:hover {
    background-color: #17E3A6;
    border-color: transparent;
    color: #000;
}

.header__search {
    display: block;
}

.header__search-bar {
    display: none;
}

.header__search-bar-wrap {
    display: none;
    width: 70%;
}


.header__search-button-mobile-1 {
    height: 50px;
}

.header__search-bar-mobile {
    /* display: none; */
    position: relative;
    /* padding 0; */
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: #212127;
}

.header__search-input-mobile {
    display: inline-block;
    padding-left: 12px;
    color: #9D9D9D;
    /* font-family: Aeonik; */
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    width: 100%;
    height: 100%; 
}

.search-list {
    display: none;
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    top: 115%;
    background-color: #212127;
    width: 100%;
    border-radius: 10px;
    max-height: 345px;
    overflow-y: auto;
}

.search-item {

}

.search-item:hover {
    background-color: #9D9D9D;
}

.search-link {
    padding: 12px 0 12px 12px;
    width: 100%;
    height: 100%;
    color: #9D9D9D;
    /* font-family: Aeonik; */
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.search-desc {
    justify-self: center;
    align-self: center;
    color: #9D9D9D;
    padding: 30px 0;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}


.navbar-child__item-social {
    margin: 24px 0;
}

.navbar-child__more {

}

.navbar-child__desc {
    color: #ACACAC;
    /* font-family: Aeonik; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.navbar-social {
    margin-top: 13px;
    width: 20%;
    justify-content: space-between;
}

.navbar-social__item {

}

.navbar-social__link {

}

.navbar-social__item:not(:first-child):hover > .navbar-social__link svg,
.navbar-social__item:not(:first-child):hover > .navbar-social__link path {
    fill: #17E3A6;
    stroke: transparent;
}

.header__menu-back-mobile {
    display: none;
    cursor: pointer;   
    color: #FDFDFD;
    padding: 0 10px;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.94;
    letter-spacing: 0.015rem;    
}

.header__menu-back-mobile:hover {
    color: #17E3A6;
}

.header__search-button-mobile {
    padding: 0 10px;
}

.header__menu-back {
    display: none;
}


@media only screen and (min-width: 768px) {
    .header {
        /* position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.7); */
    }

    .container-header-web {
        width: 1170px;
        max-width: calc(100% - 24px);
        margin: 0 auto;
    }
    
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
    }
    
    .header__menu-icon {
        display: none;
    }
    
    .header__menu-icon:hover {
        color: #17E3A6;
    }
    
    .header__logo-link {
        
    }
    
    .header__logo-img {
        width: 107px;
        height: 42px;
    }
    
    .header__search-bar {
        display: flex;
        position: relative;
        width: 20%;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #212127;
    }

    .header__search-button {
        padding: 15px 15px;
    }

    .header__search-input {
        display: inline-block;
        /* display: none; */
        color: #9D9D9D;
        /* font-family: Aeonik; */
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
        width: 100%;
        height: 100%;
    }

    .header__search-input::placeholder {
        
    }
    
    .navbar-back {
        display: none;
    }
    
    .navbar {
        /* display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;*/
        position: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: unset;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .navbar__list {
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding: 0;
    }
    
    .navbar__item {
        position: relative;
    }
    
    .navbar__link {
        display: inline-block;
        gap: 5px;
        width: 100%;
        padding: 15px 0 15px 20px;
        border-radius: 4px;
    }

    .navbar__item > .navbar__link:hover {
        background-color: transparent;
    } 

    .navbar__link:hover {
        background-color: #9D9D9D;
    }
    
    .navbar__link:hover svg path {
        stroke: #17E3A6;
    }
    
    .navbar-child__list {
        padding: 0;
        width: 160%;
        display: none;
        position: absolute;
        top: 45px;
        border-radius: 4px;
        background: #191919;
    }

    .navbar-child__item {
        position: relative;
        padding: 0;
    }
    
    
    .navbar-child__item .navbar__link svg:nth-child(2) {
        display: none;
    }

    .navbar-child-2__list {
        display: none;
        padding: 0;
        position: absolute;
        left: 100%;
        top: 0;
        width: 110%;
        border-radius: 4px;
        background: #191919;
    }

    .navbar__item:nth-child(4) .navbar-child-2__list {
        left: -100%;
        top: 0;
    }

    .navbar__item:nth-child(3) > .navbar-child__list {
        width: 165%;
    }

    .navbar__item:nth-child(4) > .navbar-child__list {
        width: 130%;
    }

    
    .navbar__item:hover > .navbar-child__list {
        display: block;
    }

    .navbar-child__item:hover > .navbar-child-2__list {
        display: block;
    }

    .navbar__item:nth-child(4) .navbar-child__item .navbar-child-2__list {
        width: 100%;
    }
    
    .navbar-child-2__item {
        padding: 0;
    }


    .navbar-child__item-social {
        margin: 24px 0;
    }
    
    .navbar-child__more {
        padding-left: 20px;
    }
    
    .navbar-social {
        width: 80%;
    }
    
    .header__menu-back {
        display: none;
        color: #FDFDFD;
        margin-left: 15px;
    }

    .header__menu-back:hover {
        color: #17E3A6;
    }

    .header-login-mobile {
        display: none;
    }
    
    .header-login-web {
        display: block;
    }

    .header-user {
        display: block;
        position: relative;
    }

    .header-user svg {
        display: inline-block;
        height: 100%;
    }
    
    .header-user-mobile {
        display: none;
    }

    .header-user__info {
        margin-left: 10px;
    }

    .header-user__id {
        display: inline;
    }

    .header-user__name {
        display: inline;
    }
    
    .header-user__feature {
        width: 100%;
        top: 45px;
    }

    .header-user__feature-link {
        display: flex;
        gap: 10px;
        font-size: 1.6rem;
    }


    .header__search {
        display: none;
    }


    .header__search-button-mobile-1 {
        display: none;
    }

    /* .header__search-bar-mobile {
        display: none;
    } */
    .header__search-bar-wrap {
        display: none;
    }
}

@media only screen and (min-width: 986px) {
    .header__search-bar {
        display: flex;
        width: 40%;
        /* height: 100%; */
        /* padding: 15px 0; */
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #212127;
    }

    .header__search-button {
        padding: 0 15px;
    }

    .header__search-input {
        display: inline-block;
        color: #9D9D9D;
        /* font-family: Aeonik; */
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
        width: 100%;
        height: 100%;
        padding: 15px 0;
    }

    .header__search-input::placeholder {
        
    }

    .header__menu-back {
        display: none;
    }
    
    .header__search-button-mobile-1 {
        display: none;
    }

    /* .header__search-bar-mobile {
        display: none;
    } */

    .header__search-bar-wrap {
        display: none;
    }

    .header-user-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar__item:nth-child(4) .navbar-child-2__list {
        left: 100%;
        top: 0;
    }

    .header-user-mobile {
        display: none;
    }
}

.header-show {
    display: block;
}

.header-show-ib {
    display: inline-block;
}

.header-show-flex {
    display: flex;
}

.header-rotate {
    transform: rotate(180deg);
}

.header-change-stroke-color {
    stroke: #17E3A6;
}
