.header {

}


.container-header-mobile {
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px;
}

.header__menu-icon {
    display: block;
    color: #FDFDFD;
}

.header__menu-icon:hover {
    color: #17E3A6;
}

.header__logo-link {
    
}

.header__logo-img {
    width: 51px;
    height: 20px;
}

.navbar-feature {
    display: block;
    margin-bottom: 25px;
}

.navbar-back {

}

.navbar-back:hover path {
    fill: #17E3A6;
    stroke: transparent;
}

.navbar-back > svg {
    display: inline-block;
}

.navbar {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0);
    overflow-y: auto;

}

.navbar__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 20px 20px;
}

.navbar__item {

}

.navbar__link {
    display: inline-flex;
    gap: 5px;
    color: #FDFDFD;
    /* font-family: Aeonik TRIAL; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.navbar__link:hover svg path {
    stroke: #17E3A6;
}

.navbar-child__list {
    display: none;
    padding: 10px 0 10px 10px;
}

.navbar-child__item {
    padding: 5px 0;
}


.navbar-child-2__list {
    display: none;
    padding: 10px 0 10px 10px;
}

.navbar-child-2__item {
    padding: 5px 0;
}

.header-login {
    margin-top: 24.5px;
} 

.header-login__button {
    border-radius: 21px;
    border: 2px solid #FFF;
    display: inline-block;
    padding: 12px 24px;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.header-login__button:hover {
    background-color: #17E3A6;
    border-color: transparent;
    color: #000;
}

.header__search {
    display: block;
}

@media only screen and (min-width: 768px) {
    .header {
    
    }

    .container-header-web {
        width: 1170px;
        max-width: calc(100% - 24px);
        margin: 0 auto;
    }
    
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 0;
    }
    
    .header__menu-icon {
        display: none;
    }
    
    .header__menu-icon:hover {
        color: #17E3A6;
    }
    
    .header__logo-link {
    
    }
    
    .header__logo-img {
        width: 107px;
        height: 42px;
    }
    
    .header__search-bar {
        display: block;
    }

    .header__search-button {

    }
    
    .navbar-back:hover path {
        fill: #17E3A6;
        stroke: transparent;
    }
    
    .navbar-back > svg {
        display: inline-block;
    }
    
    .navbar {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0);
        overflow-y: auto;
    
    }
    
    .navbar__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0 20px 20px;
    }
    
    .navbar__item {
    
    }
    
    .navbar__link {
        display: inline-flex;
        gap: 5px;
        color: #FDFDFD;
        /* font-family: Aeonik TRIAL; */
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
    }
    
    .navbar__link:hover svg path {
        stroke: #17E3A6;
    }
    
    .navbar-child__list {
        display: none;
        padding: 10px 0 10px 10px;
    }
    
    .navbar-child__item {
        padding: 5px 0;
    }
    
    
    .navbar-child-2__list {
        display: none;
        padding: 10px 0 10px 10px;
    }
    
    .navbar-child-2__item {
        padding: 5px 0;
    }
    
    .header-login {
        margin-top: 24.5px;
    } 
    
    .header-login__button {
        border-radius: 21px;
        border: 2px solid #FFF;
        display: inline-block;
        padding: 12px 24px;
        color: #FFF;
        /* font-family: Aeonik; */
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
    }
    
    .header-login__button:hover {
        background-color: #17E3A6;
        border-color: transparent;
        color: #000;
    }

    .header__search {
        display: none;
    }
}

.show {
    display: block;
}

.rotate {
    transform: rotate(180deg);
}