
.profile {
    margin-top: -60px;
}

.profile__picture {
    position: relative;
    height: 300px;
}

.profile__cover-photo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    /* height: 50vh; */
    object-fit: cover;
}

.profile__user-avt {
    position: absolute;
    top: -180px;
    left: -2%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    background:  #c9ccd1; 
    padding: 14px;
}

.profile .container {
    padding: 24px;
    box-shadow: 0px 2px 5px 0px rgba(256,256,256,0.41);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(256,256,256,0.41);
    -moz-box-shadow: 0px 2px 5px 0px rgba(256,256,256,0.41);
    position: relative;
}

.profile__info {
    margin-top: 20px;
    position: relative;
}

.profile__name--wrap {

}

.profile__name {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0px;
}

.profile__social {

}

.profile__joined-day {
    margin: 15px 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
}

.profile__bio {
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
}

.profile__activity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.profile__activity-item:first-child a {
    /* background-color:#17E3A6;
    color: #000; */
}

.profile__activity-item  {

}

.profile__activity-item  a {
    padding: 15px;
    display: inline-block;
    color: #FDFDFD;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    border-radius: 12px;
    background-color: #212127;
}

.profile__activity-item  a:hover {
    background-color: #17E3A6;
    color: #000;
}

.profile__filter {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #181819;
    width: 42%;
    padding: 12px;
    border-radius: 12px;
}

.profile__search-bar .fa.fa-search {
    display: inline-block;
    padding: 0 20px 0 6px;
}

.profile__search-bar input{
    padding: 0;
    resize: none;
    color: #9D9D9D;
    font-weight: 300;
    border: none;
    outline: none;
    background-color: transparent;
    height: 30px;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    
}

.profile__search-bar input::placeholder {
    color: #9D9D9D;
}

.profile__filter .classify-1 {
    margin: 0;
}

.profile__collection {
    margin-top: 30px;
}

.profile-product__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.profile__annouce {
    height: 300px;
    width: 100%;
}

.profile__annouce-text {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.05rem;
}

.profile-product__link {
    display: block;
}

.profile-product__item {
    /* border-radius: 10px; */
    background-color: #212127;
}

.profile-product__link > div:first-child {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.profile-product__img {
    display: block;
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease 0s;
}

.profile-product__img:hover {
    transform: scale(1.1);
}

.profile-product__name {
    margin: 10px 0;
    padding-left: 10px;
    background: linear-gradient(90deg, #20E2A7 7%, #77DCCE 10.55%, #6FC7F2 27.51%, #A0A1ED 12.87%, #FE5CD6 38.52%, #FF669F 32.95%);    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    -webkit-line-clamp: 1;
}

.profile-product__topic {
    padding-left: 10px;
    color: #fff;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    -webkit-line-clamp: 1;
}

.profile-product__buy-form {
    margin-top: 16px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #17E3A6;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.profile-product__buy-form .buy-button {
    display: inline-block;
    padding: 6px 12px;
    width: 100%;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 550;
    line-height: 1;
    border-radius: 0;
    letter-spacing: 0.05rem;
    border-radius: 0 0 0 10px;
}

.profile-product__buy-form .add-to-cart {
    padding: 6px;
    border-left: 1px solid #17E3A6;    
    width: 100%;
    border-radius: 0 0 10px 0;
}

.profile-product__buy-form .add-to-cart svg {

}

.profile-product__buy-form .buy-button:hover,
.profile-product__buy-form .add-to-cart:hover {
    background-color: #17E3A6;
    color: #000;
}

.profile-product__buy-form .add-to-cart:hover svg path {
    fill: #000;
}

@media only screen and (min-width: 520px) {
    .profile__activity-item  a {
        padding: 12px 24px;
    }
    .profile-product__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
}

@media only screen and (min-width: 768px) {
    .profile__user-avt {
        /* top: -140%;
        left: -1%; */
    }

    .profile-product__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media only screen and (min-width: 950px) {
    .profile__user-avt {
        /* top: -123%;
        left: -1%; */
    }

    .profile-product__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media only screen and (min-width: 1170px) {
    .profile__user-avt {
        /* top: -125%;
        left: -1%; */
    }

    .profile-product__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
}