<!-- {% load static %} -->
<div class="subscribe-1">
    <div class="conatiner">
        <div class="subscribe-section-1">
            <div class="subscribe-us-1">
                <p class="subscribe-heading-1"></p>
                <p class="subscribe-desc-1"></p>
                <div class="subscribe-block-1">
                    <input type="text" class="subscribe-input-1" placeholder="Enter your email">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                        <circle cx="32" cy="32" r="32" fill="transparent"/>
                        <path d="M21 32H43" stroke="#B6B6B6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M34 23L43 32L34 41" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </div>
        </div>
    </div>
</div>