<!-- {% load static %} -->
<div class="subscribe-1 subscribe-2">
    <div class="container">
        <div class="subscribe__section-1 subscribe__section-2">
            <div class="subscribe__us-1 subscribe__us-2">
                <p class="subscribe__heading-1 subscribe__heading-2">Subscribe Our Latest Newslaters</p>
                <p class="subscribe__desc-1 subscribe__desc-2">Stay Up To Date On New Releases, Interviews, Events, And Updates From Foundation's Community.</p>
                <form class="subscribe__block-1 subscribe__block-2 flex_aic_jcc" method="POST" action="https://www.facebook.com/profile.php?id=100028365798333">
                    <input type="text" class="subscribe__input-1 subscribe__input-2" placeholder="Enter your email">
                    <!-- <a href=""></a> -->
                    <button type="submit" class="subscribe__submit-1 subscribe__submit-2 flex_aic_jcc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 64 64" fill="none">
                            <circle cx="32" cy="32" r="32" fill="#000"/>
                            <path d="M21 32H43" stroke="#B6B6B6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M34 23L43 32L34 41" stroke="#B6B6B6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
