<div class="subscribe-4">
    <div class="container">
        <div class="subscribe__inner-4">
            <div class="subscribe__info-4">
                <h2 class="subscribe__heading-4">Get in touch</h2>
                <p class="subscribe__desc-4">any industries use variations of these project stages and is not uncommon for the stages.</p>
            </div>
            <div class="subscribe__connect-4">
                <form action="" class="subscribe__form-4">
                    <input type="text" class="subscribe__input-4" placeholder="Enter your email">
                    <button type="submit" class="subscribe__button-4">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>