{% load static %}
<ul class="blog-list">
    {% for blog in blogs %}
    {% if forloop.counter <= number_blogs %}
    <li class="blog__item">
        <a href="{% url 'blog' blog.id %}" class="blog-item__img-link">
            <img src="{{blog.image}}" alt="" class="blog-item__img">
        </a>
        <div class="blog-item__author flex_aic_jcc">
            <a href="{% url 'profile' blog.author.id %}"class="blog-item__author-name flex_aic_jcc limit-line">
                <img src="{{blog.author.avatar}}" alt="" class="blog-item__author-avatar">
                @{{blog.author.name}}
            </a>
        </div>
        {% if blog.times_to_read != 1 %}
        <p class="blog-item__times_to_read">{{blog.times_to_read}} minutes to read</p>
        {% else %}
        <p class="blog-item__times_to_read">{{blog.times_to_read}} minute to read</p>
        {% endif %}
        <h2 class="blog-item__heading limit-line">
            <a href="{% url 'blog' blog.id %}">
                {{blog.title}}
            </a>
        </h2>
        <a href="{% url 'blog' blog.id %}" class="blog-item__read-more limit_line">Read More</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>