{% extends 'main.html' %}
<!-- {% load static %} -->
{% block content %}
<div class="hero">
    <div class="container hero-container">
        <div class="hero__inner">
            <div class="hero__about">
                <p class="hero__type">Discover & Showcase</p>
                <h1 class="hero__heading">Your Favorite Crypto Art</h1>
                <p class="hero__desc">A seamless NFT creation experience, from generation to mint in a few easy steps.</p>
                <div class="hero__button--wrap flex_aic_jcc">
                <button class="hero__button">Let's Explore</button>
                <img src="{% static 'images/home_images/image0.svg'%}" alt="" class="hero__img__">
                </div>
            </div>
            <div class="hero__img-section">
                <div class="hero__img--wrap">
                
                        <img src="{% static 'images/home_images/image1.svg'%}" alt="" class="hero__img">
                        <img src="{% static 'images/home_images/image2.svg'%}" alt="" class="hero__img">
                        <img src="{% static 'images/home_images/image3.svg'%}" alt="" class="hero__img">
                
                            
                </div>
                <div class="hero__img--wrap">
                    <img src="{% static 'images/home_images/image5.svg'%}" alt="" class="hero__img">
                    <img src="{% static 'images/home_images/image4.svg'%}" alt="" class="hero__img">
                </div>
                <div class="hero__img--wrap">
                    <img src="{% static 'images/home_images/image6.svg'%}" alt="" class="hero__img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gap-between-section"></div>
<div class="gap-between-section-2"></div>

<div class="container">
    <div class="home__hot-1">
        <h2 class="home-hot__heading-1">Latest  artworks  with most  valued bids</h2>
        <div class="home-hot__classify-1">
            <div class="home-hot__classify--wrap-1">
                <a href="" class="home-hot__nft-1">NFT</a>
                <a href="" class="home-hot__nft-1">Description </a>
            </div>
            {% include 'NFTapp/explore/classify/classify1.html' %}
        </div>
        {% include 'NFTapp/explore/nftproduct/nftproduct2.html' with number_products=3 %}
        <!-- include 'NFTapp/explore/nftproduct/nftproduct2.html' with number_products=41 -->
    </div>
</div>

<div class="gap-between-section"></div>
<div class="container">
    <div class="home-curated-1">
        <div class="home-curated__wrap-1">
            <h2 class="home-curated__heading-1">Curated collection</h2>
            <a href="{% url 'collection1' %}" class="home-curated__view-all-1">View all</a>
        </div>
        {% include 'NFTapp/explore/nftproduct/nftproduct1.html' with number_products=4 %}
    </div>
</div>    

<div class="gap-between-section"></div>

<div class="container">
    <div class="home-creator-1">
        <h2 class="home-creator__heading-1">How to be a creator</h2>
        <ul class="home-creator__step-1">
            <li class="home-creator__each-step-1">
                <img src="{% static 'images/vector/how_to_be_a_creator_1.svg' %}" alt="" class="home-creator__step-img-1">
                <h3 class="home-creator__step-heading-1">CREATE YOUR ARTWORK</h3>
                <p class="home-creator__step-desc-1">Each NFT is algorithmically generated by combining 120+ unique traits</p>
            </li>
            <li class="home-creator__each-step-1">
                <img src="{% static 'images/vector/how_to_be_a_creator_2.svg' %}" alt="" class="home-creator__step-img-1">
                <h3 class="home-creator__step-heading-1">UPLOAD YOUR NFT</h3>
                <p class="home-creator__step-desc-1">There are only 13 legendary NFTs available for grabs.</p>
            </li>
            <li class="home-creator__each-step-1">
                <img src="{% static 'images/vector/how_to_be_a_creator_3.svg' %}" alt="" class="home-creator__step-img-1">
                <h3 class="home-creator__step-heading-1">LIST THEM FOR SALE</h3>
                <p class="home-creator__step-desc-1">build their brands and communities, as well as introducing brands</p>
            </li>
            <li class="home-creator__each-step-1">
                <img src="{% static 'images/vector/how_to_be_a_creator_4.svg' %}" alt="" class="home-creator__step-img-1">
                <h3 class="home-creator__step-heading-1">COMOPATIBLE EVERYWHERE</h3>
                <p class="home-creator__step-desc-1">Through visual communication and marketing strategies</p>
            </li>
        </ul>
    </div>
</div>

<div class="gap-between-section"></div>

<div class="container">
    <div class="home-join-us-1">
        <h1 class="home-join__heading-1">
            <a href="{% url 'about_us1' %}">
                Join largest NFT community
            </a>
        </h1>
        <p class="home-join__desc-1">Join the millions of creators, collectors, and curators who are on this journey with you.</p>
        <div class="home-join__img-block-1">
            <ul class="home-join__img-list-1 flex_aic_jcc">
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_1.svg' %}" alt=""></li>
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_2.svg' %}" alt=""></li>
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_3.svg' %}" alt=""></li>
            </ul>
            <ul class="home-join__img-list-1 flex_aic_jcc">
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_4.svg' %}" alt=""></li>
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_5.svg' %}" alt=""></li>
            </ul>
        </div>
    </div>
</div>

<div class="gap-between-section"></div>

<div class="container">
    <div class="home-meecat-1">
        <h2 class="home-meecat__heading-1">Meecat COLLECTIBLES</h2>
        {% include 'NFTapp/explore/nftproduct/nftproduct3.html' with number_products=8 %}
    </div>
</div>

<div class="gap-between-section"></div>

{% include 'NFTapp/profile_list/profile_list1.html' %}

<div class="gap-between-section"></div>

{% include 'NFTapp/subscribe/subscribe1.html' %}

{% endblock content %}