{% extends 'main.html'%}
<!-- {% load static %} -->
{% block content %}
<div class="hero-2">
    <div class="container">
        <div class="hero__inner-2">
            <div class="hero__about-2">
                <h1 class="hero__heading-2">Discover a universe of NFTs you can trade and collect</h1>
                <p class="hero__desc-2">Find and trade everything from rare digital art and branded crypto-collectibles, to digital fashion and gaming items you can use in multiple worlds.</p>
                <button class="hero__button hero__button-2">Explore now</button>
            </div>
            <div class="hero-img__section-2 flex_aic_jcc">
                <img src="{% static 'images/home_images/image7.svg'%}" alt="" class="hero__img-2">
            </div>
        </div>
    </div>
</div>

{% endblock content %}