{% extends 'main.html'%}
<!-- {% load static %} -->
{% block content %}
<div class="hero-5"">
    <div class="container">
        <div class="hero__inner-5">
            <div class="hero__about-5">
                <h1 class="hero__heading-5">Explore Virtual Worlds</h1>
                <p class="hero__desc-5">Virtual worlds are blockchain-fueled alternative realities where users can create and trade digital goods, play games, and display NFTs in galleries, among other intriguing use cases.</p>
                <button class="hero__button hero__button-5">Explore now</button>
            </div>
            <div class="hero-img__section-5 flex_aic_jcc">
                <img src="{% static 'images/home_images/image9.svg' %}" alt="" class="hero__img-5">
            </div>
        </div>
    </div>
</div>


<div class="partners-5">
    <div class="container-full-width">
        <div class="partners-5__inner flex_fdc_aif">
            <h2 class="partners-5__heading">Some of out partners-5</h2>
            <ul class="partners-5__list flex_aic_jcc">
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/smurfs.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/crypto.com.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/finder.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/bancor.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/CoinGecko.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/Blockchain.svg' %}" alt="">
                    </a>
                </li>
            </ul>
            <ul class="partners-5__list flex_aic_jcc">
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/bancor.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/Blockchain.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/okcoin.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/be_in_crypto.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/smurfs.svg' %}" alt="">
                    </a>
                </li>
                <li class="partners-5__member">
                    <a href="#!" class="parners-member__link">
                        <img src="{% static 'images/home_images/finder.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}