{% extends 'main.html'%}
<!-- {% load static %} -->
{% block content %}
<div class="container">
    <div class="hero__inner-5">
        <div class="hero__about-5">
            <h1 class="hero__heading-5">Explore Virtual Worlds</h1>
            <p class="hero__desc-5">Virtual worlds are blockchain-fueled alternative realities where users can create and trade digital goods, play games, and display NFTs in galleries, among other intriguing use cases.</p>
            <a href="{% url 'collection1' %}" class="hero__button hero__button-5">Explore now</a>
        </div>
        <div class="hero-img__section-5 flex_aic_jcc">
            <img src="{% static 'images/home_images/image9.svg' %}" alt="" class="hero__img-5">
        </div>
    </div>
</div>

<div class="gap-between-section"></div>

{% include 'NFTapp/partner.html' %}

<div class="gap-between-section"></div>

<div class="container">
    <div class="home-hot-4 flex_aic_jcc">
        <p class="home-hot__text-4">Hot NFTs on Live Action</p>
        <a href="{% url 'artworks1' %}" class="home-hot__view-all-4">View all</a>
    </div>
    {% include 'NFTapp/explore/nftproduct/nftproduct3.html' with number_products=8 %}
</div>

<div class="gap-between-section"></div>

<div class="container">
    <div class="home-top-5">
        <h2 class="home-top__collection">Our Top NFT Here</h2>
        {% include 'NFTapp/explore/classify/classify1.html' %}
    </div>
</div>

<div class="gap-between-section"></div>

<div class="container">
    <div class="home-join-us-1">
        <h1 class="home-join__heading-1">
            <a href="{% url 'about_us1' %}">
                Join largest NFT community
            </a>
        </h1>
        <p class="home-join__desc-1">Join the millions of creators, collectors, and curators who are on this journey with you.</p>
        <div class="home-join__img-block-1">
            <ul class="home-join__img-list-1 flex_aic_jcc">
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_1.svg' %}" alt=""></li>
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_2.svg' %}" alt=""></li>
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_3.svg' %}" alt=""></li>
            </ul>
            <ul class="home-join__img-list-1 flex_aic_jcc">
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_4.svg' %}" alt=""></li>
                <li class="home-join__img-item-1"><img src="{% static 'images/vector/join_us_5.svg' %}" alt=""></li>
            </ul>
        </div>
    </div>
</div>

<div class="gap-between-section"></div>

<div class="container">
    <h2 class="section-heading-fw500">Our artists</h2>
    {% include 'NFTapp/profile_list/profile_list1.html' %}
</div>

<div class="gap-between-section"></div>

{% include 'NFTapp/subscribe/subscribe4.html' %}
    
{% endblock content %}