{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- <div class="artwork-1">
    <div class="container-artwork-1">
        <div class="artwork__inner-1 artwork__inner-3 flex_aic_jcc"> -->
            <!-- From about us -->
            {% include 'NFTapp/explore/artworks/artworks_common.html' %}
        <!-- </div>
    </div>
</div>
<div class="gap-between-section"></div> -->
{% include 'NFTapp/subscribe/subscribe1.html' %}

{% include 'NFTapp/explore/nftproduct/nftproduct2.html' %}
<!-- <div class="gap-between-section"></div> -->
<!-- {% include 'NFTapp/profile_list/profile_list1.html' %} -->
<!-- <div class="gap-between-section"></div> -->
<!-- {% include 'NFTapp/profile_list/profile_list2.html' %} -->
{% endblock content %}