.blog {

}

.container {

}

.blog-introduce {
    margin: 20px 0 40px;
}

.blog-heading {
    color: #FFF;
    text-align: center;
    /* font-family: Clash Display; */
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28; /* 127.778% */
}

.blog-desc {
    margin-top: 12px;
    color: #CFCFCF;
    text-align: center;
    /* font-family: Aeonik; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02rem;   
}

.blog-list {
    
}

.blog__item {
    position: relative;
    margin-bottom: 20px;
}

.blog-item__img {
    /* height: 92%; */
    width: 100%;
    display: block;
}


.blog-item__author {
    border-radius: 51px;
    background: rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(17.5px);
    width: 50%;
    height: 61px;
    justify-content: space-evenly;
    /* gap: 15px; */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
}

.blog-item__author-avatar {
    width: 41px;
    height: 41px;
    display: block;
    /* padding: 10px; */
    flex-shrink: 0;
    overflow: hidden;
    object-fit: cover;
    margin-left: 10px;
} 

.blog-item__author-name {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    letter-spacing: 0.02rem;
    -webkit-line-clamp: 1;
}

.blog-item__times_to_read {
    margin: 24px 0 12px;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 250;
    line-height: 1; /* 100% */
    letter-spacing: 0.02rem;
}

.blog-item__heading {
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.31; /* 130.769% */
    letter-spacing: 0.026rem;
    -webkit-line-clamp: 2;
}

.blog-item__read-more {
    /* height: 61px; */
    display: block;
    padding: 20px 119px;
    border-radius: 51px;
    margin-top: 20px;
    border: 1px solid #17E3A6;
    color: #FFF;
    /* font-family: Aeonik; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.02rem;
    text-align: center;
}

.blog-item__read-more:hover {
    color: #000;
    background-color: #17E3A6;
}


@media only screen and (min-width: 1000px) {
    .blog {

    }
    
    .container {
    
    }
    
    .blog-introduce {
        margin: 200px 0 80px;
    }
    
    .blog-heading {
        
    }
    
    .blog-desc {
 
    }
    
    .blog-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }
    
    .blog__item {
        position: relative;
        margin-bottom: 20px;
    }
    
    .blog-item__img {
        /* height: 92%; */
        width: 100%;
        display: block;
    }
    
    
    .blog-item__author {
        border-radius: 51px;
        background: rgba(217, 217, 217, 0.15);
        backdrop-filter: blur(17.5px);
        width: 65%;
        height: 61px;
        justify-content: space-evenly;
        /* gap: 15px; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
    
    .blog-item__author-avatar {
        width: 41px;
        height: 41px;
        display: block;
        /* padding: 10px; */
        flex-shrink: 0;
        overflow: hidden;
        object-fit: cover;
        margin-left: 10px;
    } 
    
    .blog-item__author-name {

    }
    
    .blog-item__times_to_read {

    }
    
    .blog-item__heading {
  
    }
    
    .blog-item__read-more {
        /* height: 61px; */
        display: block;
        padding: 20px 119px;
        border-radius: 51px;
        margin-top: 20px;
        border: 1px solid #17E3A6;
      
    }
    
    .blog-item__read-more:hover {
        color: #000;
        background-color: #17E3A6;
    }
}