.subscribe-4 {

}

.subscribe__inner-4 {
    border-radius: 12px;
    padding: 50px 20px;
    position: relative;
    background-color: #212127;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.subscribe__inner-4::after {
    content: '';
    background-image: url('/static/images/vector/cube.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: -25%;
    transform: translateX(-57%);
}

.subscribe__info-4 {

}

.subscribe__heading-4 {
    color: #FFF;
    text-align: center;
    /* font-family: Clash Display; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
}

.subscribe__desc-4 {
    margin-top: 10px;   
    color: #CFCFCF;
    text-align: center;
    /* font-family: Aeonik; */
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.83; /* 183.333% */
    letter-spacing: 0.012rem;
}

.subscribe__connect-4 {
    
}

.subscribe__form-4 {
    border-radius: 12px;
    /* overflow: hidden; */
    background: #000;
    height: 47px;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.subscribe__input-4 {
    padding-left: 20px; 
    background-color: transparent;
    outline: none;  
    border: none;
    color: #B6B6B6;
    /* font-family: Aeonik; */
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100.136% */
    letter-spacing: 0.012rem;
}

.subscribe__input-4::placeholder {
}

.subscribe__button-4 {
    /* border: 1px solid #B6B6B6; */
    box-shadow: 0px 0px 2px 2px rgba(256,256,256,0.4);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(256,256,256,0.4);
    -moz-box-shadow: 0px 0px 2px 2px rgba(256,256,256,0.4);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    color: #B6B6B6;
    /* font-family: Aeonik; */
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100.136% */
    letter-spacing: 0.012rem;
}

.subscribe__button-4:hover {
    border-color: transparent;
    background-color: #17E3A6;
    color: #000;
    box-shadow: none;
}

@media only screen and (min-width: 768px) {
    .subscribe__inner-4 {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        column-gap: 100px;
        align-items: center;
    }

    .subscribe__heading-4 {
        /* font-family: Clash Display; */
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.28; /* 127.778% */
    }
    
    .subscribe__desc-4 {
        margin-top: 20px;
        /* font-family: Aeonik TRIAL; */
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02rem;
    }
    
    .subscribe__form-4 {
        height: 70px;
    }

    .subscribe__input-4 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
        letter-spacing: 0.02rem;
    }
    
    .subscribe__button-4 {  
        /* font-family: Aeonik TRIAL; */
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 100% */
    }
}